<!-- Service Section -->
<section id="serviceSection" class="service-section">
    <div class="container">
        <div class="section-padding">
            <div class="title-container text-center">
                <h2 class="striped-title wow bounceInUp" data-wow-delay=".1s">
                    What we <span>Offer</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description wow bounceInUp" data-wow-delay=".2s">
                    We offer our customers the best services & solutions, this is our main services list
                </p>
            </div><!-- /.title-container -->

            <div class="service-container">
                <div class="row">
                    <div class="owl-container wow bounceInUp" data-wow-delay=".3s">
                        <div class="carousel-navigator text-center">
                            <button class="btn nav-btn sm-btn rbtn prev tprev"><i class="fa fa-long-arrow-left"></i></button>
                            <button class="btn nav-btn sm-btn rbtn next tnext"><i class="fa fa-long-arrow-right"></i></button>
                        </div>

                        <div id="serviceSlider" class="testimonial-slider owl-carousel owl-theme" data-pagination="true" data-screenitems="[[0, 1],[450, 1], [700, 2], [1000, 3], [1200, 3]]" data-items="3" data-autoplay="true">
                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-desktop"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Fully Responsive Layout</a></h4>
                                        <div class="sub-title">
                                            Desktop, Tablets & Phones
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-bolt"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Multipurpose Theme</a></h4>
                                        <div class="sub-title">
                                            Agency, Portfolio &amp;...
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-wrench"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Awesome Friendly Support</a></h4>
                                        <div class="sub-title">
                                            Free Lifetime Supports & Updates
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-code"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Fully Responsive Layout</a></h4>
                                        <div class="sub-title">
                                            Desktop, Tablets & Phones
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Multipurpose Theme</a></h4>
                                        <div class="sub-title">
                                            Agency, Portfolio &amp;...
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-support"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Awesome Friendly Support</a></h4>
                                        <div class="sub-title">
                                            Free Lifetime Supports & Updates
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->
                        </div><!-- /.serviceSlider -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.service-container -->

        </div><!-- /.section-padding -->
    </div>
</section><!-- /#serviceSection -->
<!-- Service Section End -->

