a, 
h1 a:hover, 
h2 a:hover, 
h3 a:hover, 
h4 a:hover, 
h5 a:hover, 
h6 a:hover,
h1 > span, 
h2 > span, 
h3 > span, 
h4 > span, 
h5 > span, 
h6 > span,
h1 > em,
h2 > em,
h3 > em,
h4 > em,
h5 > em,
h6 > em,
.btn,
.btn:hover, 
.btn:focus, 
.btn.focus,
.btn.has-badge.active .badge,
.striped-section .striped-icon,
#primary-menu > ul > li:hover a, 
#primary-menu > ul > li.current a,
#top-search a.hd-icons, 
#top-cart a.hd-icons,
.icon,
.arrow-circle .arrow,
.polygon-bg .prev:hover,
.polygon-bg .next:hover,
.focuz-main-slider .ms-skin-default .ms-nav-next:before,
.focuz-main-slider .ms-skin-default .ms-nav-prev:before,
input[type="checkbox"].checkbox-btn:checked + label:before,
.callout-action .action-links a:hover,
.blue-bg .callout-content .btn:hover,
.panel-title a,
.panel-title a.collapsed:hover,
.tv1 .nav-tabs>li.active>a,
.tv2 .nav-tabs>li.active>a, 
.tv2 .nav-tabs>li.active>a:hover, 
.tv2 .nav-tabs>li.active>a:focus,
.tv2 .nav-tabs>li>a:hover,
.features-list li:before,
.team-member .member-designation,
.team-member .member-email,
.team-member .member-phone,
.widget_about_us .contact-info a:hover,
.widget .author a:hover,
.widget .recentposts>li .entry-title a:hover,
.widget .twitter-feeds>li>.tweet>a:hover,
.widget_categories li:hover a,
.widget_recent_posts .comments-link a:hover, 
.sidebar-widgets .widget .twitter-feeds>li>.tweet>a:hover,
#logo a,
#primary-menu>ul>li.sub-menu.sfHover>a>div:after,
#primary-menu>ul>li.sub-menu.sfHover li.sub-menu.sfHover:after,
#primary-menu > ul > li:hover a,
#primary-menu > ul > li.current a,
#primary-menu ul ul li:hover > a,
#top-search a.hd-icons,
#top-cart a.hd-icons,
#top-cart a:hover,
.top-cart-item-desc a:hover,
.top-cart-action span.top-checkout-price,
figure .item-link a:hover,
.portfolio-item.v4 figure:hover .item-link a,
.item-container:hover .icon.inv,
.item-container:hover .icon.icon-big,
.item-container.v2:hover .icon,
.item-container.service .feature-title:hover a,
.operation-title a:hover,
.price-item:hover .featured,
.price-item:hover .stripe-over,
.testimonial-item .client-rating,
.client-review-carousel .client-review-nav .ms-nav-prev:hover:before,
.client-review-carousel .client-review-nav .ms-nav-next:hover:before,
.fact-item .fact-icon,
article.post .post-thumbnail .slide-nav,
article.post .entry-title a:hover,
article.post .category a:hover,
article.post .comments-link a:hover,
article.post .post-format,
.stripe-full .project-like,
.copyrights a:hover,
.footer-menu li a:hover,
.quote-post:before,
.quote-name p,
.post-thumbnail .share-box a:hover,
.blog-page .post-content-box .project-like,
.comment-metadata .fn a:hover, .reply a:hover,
.li-square li:hover,
.circle-or,
.highlighted,
.next-btn .next-section:before,
.site-breadcrumb .breadcrumb>li.active,
.product-item .product-rating,
.product-action a:hover,
.product-action a.add-to-cart,
.product-category-group .product-category .sub-cat-items li a:hover,
.product-single-head .product-rating,
.shopping-cart-items .shop_table .cart-product-details .product-rating,
.widget_cart_totals_pricing .cart_totals table tbody tr.order-total th,
.widget_cart_totals_pricing .cart_totals table tbody tr.order-total td,
.client-review-item .client-review-content i,
.slide8 .ms-layer.white-bg,
.slide10 a.ms-layer,
.focuz-slide-smt span,
.focuz-slide-mdt span,
.focuz-slide-lgt span {
	color: #dc2a0b;
}


#primary-menu ul ul li:hover > a,
.top-cart-item-desc a:hover {
	color: #dc2a0b !important;
}


#primary-menu > ul > li.current > a:after,
.dropcap,
.blue-bg,
.btn.active,
.bg-btn,
.md-btn:hover,
.sm-btn:hover,
.nav-btn:hover,
.icon.inv,
.pagination>li>.current:hover,
.pagination>li>.current,
.pagination>li>a:hover,
.owl-page.active,
.carousel-indicators .active ,
.post .carousel-indicators .active,
.social-icons ul>li>a:hover .icon-content,
input[type="radio"].radio-btn:checked + label:before,
.dark-bg .callout-content .purchase:hover,
.blue-bg .callout-content .btn,
.progress.v1 .progress-bar.default-bar,
.progress.v3 .progress-bar.default-bar,
.tv1 .nav-tabs>li.active>a:before,
.tv1 .nav-tabs>li>a:hover,
.team-member .member-name:before,
.team-member.v2 .social-icons a:hover,
.widget_newslatter .subscirbe-form input[type="submit"],
.widget_categories li:hover a:before, 
.widget_categories li:hover .badge,
.tagcloud a:hover,
#wp-calendar td a:hover,
#primary-menu > ul > li.current > a:after,
#top-search a.hd-icons:hover, 
#top-cart a.hd-icons:hover,
.isotope-filters .btn.active, 
.isotope-filters .btn:hover,
.isotope-filters .bg-btn,
.portfolio-item.v2 figure:hover:after,
.portfolio-item.v2 figure:hover .item-link:after,
.portfolio-item.v4 figure .item-link a:hover,
.item-container:hover .icon,
.item-container.v2:hover,
.item-container.v2 .icon,
.item-container:hover .arrow-circle,
.price-item:hover .inner,
.price-item .btn:hover,
.price-item.v2 .btn,
.price-item.v2:hover .price-box,
article.post .entry-date,
.hero-banner .share-box.v2.black a:hover,
.share-box.v2.black a:hover,
.big-icon:hover,
.post-thumbnail .twitter-feeds,
.li-square li:hover:before,
.product-item .sale-badge,
.product-action a.add-to-cart:hover,
.product-category-group .product-category .sub-cat-items li a:hover:before,
.product-carousel-indicators li.active,
.flexslider.product-image-thumbs .flex-direction-nav li:hover,
.product-order-action button:hover,
.soical-icon-list li > a:hover,
.sort-by-size .sort-btn:hover,
.tag-list li a:hover,
.product-description .nav-tabs>li.active>a:before,
.shopping-cart-items .shop_table .cart-product-removal > a.product-removal:hover,
.shopping-cart-items .shop_table tr > td.actions .coupon input.button:hover,
.shopping-cart-items .shop_table tr > td .cart-next-step input:hover,
.widget_calculate_shipping .shipping_calculator .calc_shipping:hover,
.btn.focuz-slide-bs-btn:hover {
	background-color: #dc2a0b;
}

.blue-bg {
	background-color: #dc2a0b !important;
}


.btn.active,
.bg-btn,
.nav-btn.rbtn,
.md-btn:hover,
.sm-btn:hover,
.nav-btn:hover,
.stripe-blue:after,
.stripe-blue:before,
.pagination>li>.current:hover,
.pagination>li>.current,
.pagination>li>a:hover,
.owl-page,
.owl-page.active,
.carousel-indicators .active,
.carousel-indicators li, 
.form-control:focus ,
input[type="checkbox"].checkbox-btn:checked + label:after,
input[type="radio"].radio-btn:checked + label:after,
.tv1 .nav-tabs>li>a:hover,
.tv2 .nav-tabs>li.active>a, 
.tv2 .nav-tabs>li.active>a:hover, 
.tv2 .nav-tabs>li.active>a:focus,
.tv2 .nav-tabs>li>a:hover,
.polygon-bg .tv2 .nav-tabs>li>a:hover,
.polygon-bg .tv2 .nav-tabs>li.active>a, 
.polygon-bg .tv2 .nav-tabs>li.active>a:hover, 
.polygon-bg .tv2 .nav-tabs>li.active>a:focus,
.widget_categories li a:before,
#top-search a.hd-icons,
#top-cart a.hd-icons,
.top-cart-item-image:hover,
.isotope-filters .btn.active, 
.isotope-filters .btn:hover,
.isotope-filters .bg-btn,
.portfolio-item.v4 figure:hover .item-link a,
.item-container:hover .icon,
.item-container.v2:hover,
.item-container.v2 .icon,
.item-container.service.v4 .icon,
article.post .post-format,
article.post .entry-date,
.li-square li:before,
.circle-or,
.hero-banner .share-box.v2.black a:hover,
.next-btn .next-section,
.product-action a.add-to-cart,
.product-category-group .product-category .sub-cat-items li a:before,
.product-category-group .product-category .sub-cat-items li a:hover:before,
.product-order-action button:hover,
.sort-by-size .sort-btn:hover,
.btn.focuz-slide-bs-btn:hover {
	border-color: #dc2a0b;
}

#header-wrap,
#primary-menu ul ul,
#primary-menu ul li .mega-menu-content,
#top-cart .top-cart-content,
.v2 article.post .entry-date time,
.footer-container,
.site-breadcrumb 
{
	border-top-color:  #dc2a0b;
}
.portfolio-item.v2 figure:hover .item-description,
.testimonial-item .testimonial-txt {
	border-bottom-color:  #dc2a0b;
}
.progress.v1 .progress-bar:before {
	border-left-color: #dc2a0b;
}

#primary-menu .mega-menu-content  a.btn:hover {
	border-color: #dc2a0b !important;
}


.portfolio-item figure:after,
.portfolio-item figure:hover:after,
.portfolio-item figure .item-link:after,
.widget .recentposts>li>.rp-img a:before,
.team-member:hover .member-img-box:before {
	background-color: rgba(220, 42, 11, 0.71);
}

.btn.active, .bg-btn,
.btn.active, .bg-btn:hover,
.tv1 .nav-tabs>li>a:hover,
.widget .recentposts>li>.rp-img a:before,
.widget .recentposts>li>.rp-img a:before:hover,
.md-btn:hover, .sm-btn:hover, .nav-btn:hover{
	color: #ffffff;
}