@{
    ViewBag.Title = "Home Page";
}

<!-- Slider Section -->
<section id="slider" class="slider-section">
    <!-- MasterSlider -->
    <div id="home-focuz-main-slider" class="master-slider-parent focuz-main-slider ms-parent-id-2">
        <!-- MasterSlider Main -->
        <div id="focuz-main-slider" class="master-slider ms-skin-default">

            <!-- Another Slide Item-->
            <div class="ms-slide slide5" data-delay="8" data-fill-mode="fill">
                <img src="assets/masterslider/blank.gif"
                     alt=""
                     title=""
                     data-src="images/slider/bg2.jpg" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/022.png"
                     alt=""
                     data-effect="back(1000)"
                     data-duration="275"
                     data-delay="1350"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="642"
                     data-offset-y="169"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/032.png"
                     alt=""
                     data-effect="back(1000)"
                     data-duration="262"
                     data-delay="1275"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="871"
                     data-offset-y="164"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/012.png"
                     alt=""
                     data-effect="back(1000)"
                     data-duration="237"
                     data-delay="1237"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="627"
                     data-offset-y="289"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/041.png"
                     alt=""
                     data-effect="back(1000)"
                     data-duration="237"
                     data-delay="1200"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="936"
                     data-offset-y="367"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/man1.png"
                     alt=""
                     data-effect="front(1500)"
                     data-duration="1500"
                     data-delay="0"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="737"
                     data-offset-y="147"
                     data-origin="tl" />

                <div class="ms-layer focuz-slide-lgt text-uppercase"
                     data-effect="left(500)"
                     data-duration="1400"
                     data-delay="585"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="167"
                     data-origin="tl">
                    unlimted colors
                </div>

                <div class="ms-layer focuz-slide-mdt text-uppercase"
                     data-effect="right(500)"
                     data-duration="1325"
                     data-delay="925"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="241"
                     data-origin="tl">
                    <span>choose the best color</span>
                </div>

                <div class="ms-layer focuz-slide-smt"
                     data-effect="right(500)"
                     data-duration="1325"
                     data-delay="1275"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="299"
                     data-origin="tl">
                    <img class="focuz-slide-tick"
                         src="images/slider/tick1.png"
                         alt="tick" />
                    Give Your Site A New &amp; Fresh Look With Just Few Clicks !
                </div>

                <a href=""
                   target="_blank"
                   class="ms-layer btn focuz-slide-bs-btn"
                   data-delay="2050"
                   data-ease="easeOutQuint"
                   data-type="button"
                   data-offset-x="0"
                   data-offset-y="355"
                   data-origin="tl">
                    Read more <i class="fa fa-hand-o-right"></i>
                </a>

                <a href=""
                   target="_blank"
                   class="ms-layer btn focuz-slide-bs-btn"
                   data-effect="left(150)"
                   data-delay="2525"
                   data-ease="easeOutQuint"
                   data-type="button"
                   data-offset-x="140"
                   data-offset-y="355"
                   data-origin="tl">
                    Contact Us <i class="fa fa-envelope"></i>
                </a>
            </div>

            <!-- Another Slide Item -->
            <div class="ms-slide slide6" data-delay="8" data-fill-mode="fill">
                <img src="assets/masterslider/blank.gif"
                     alt=""
                     title=""
                     data-src="images/slider/bg3.jpg" />

                <div class="ms-layer focuz-slide-lgt text-uppercase"
                     data-effect="top(254)"
                     data-ease="easeOutQuint"
                     data-offset-x="146"
                     data-offset-y="46"
                     data-origin="tl">
                    cross browser compatible
                </div>

                <div class="ms-layer focuz-slide-mdt text-uppercase"
                     data-effect="bottom(40)"
                     data-delay="812"
                     data-ease="easeOutQuint"
                     data-offset-x="356"
                     data-offset-y="145"
                     data-origin="tl">
                    <span>showing everything the same on all major browsers</span>
                </div>

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/shadow4.png"
                     alt=""
                     data-delay="3012"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="784"
                     data-offset-y="350"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/icon4.png"
                     alt=""
                     data-effect="right(450)"
                     data-delay="3162"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="784"
                     data-offset-y="226"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/shadow3.png"
                     alt=""
                     data-delay="2750"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="604"
                     data-offset-y="391"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/icon3.png"
                     alt=""
                     data-effect="right(450)"
                     data-delay="3012"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="644"
                     data-offset-y="241"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/shadow2.png"
                     alt=""
                     data-delay="2875"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="171"
                     data-offset-y="342"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/icon2.png"
                     alt=""
                     data-effect="left(465)"
                     data-delay="3162"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="208"
                     data-offset-y="217"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/shadow1.png"
                     alt=""
                     data-delay="2675"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="277"
                     data-offset-y="362"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/icon1.png"
                     alt=""
                     data-effect="left(420)"
                     data-delay="3037"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="323"
                     data-offset-y="236"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/shadow.png"
                     alt=""
                     data-delay="1187"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="440"
                     data-offset-y="409"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/icon.png"
                     alt=""
                     data-effect="front(2000)"
                     data-delay="1725"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="473"
                     data-offset-y="254"
                     data-origin="tl" />

                <a href=""
                   target="_blank"
                   class="ms-layer btn focuz-slide-bs-btn"
                   data-effect="right(150)"
                   data-delay="3587"
                   data-ease="easeOutQuint"
                   data-type="button"
                   data-offset-x="420"
                   data-offset-y="500"
                   data-origin="tl">
                    Read more <i class="fa fa-hand-o-right"></i>
                </a>

                <a href=""
                   target="_blank"
                   class="ms-layer btn focuz-slide-bs-btn"
                   data-effect="left(150)"
                   data-delay="3587"
                   data-ease="easeOutQuint"
                   data-type="button"
                   data-offset-x="565"
                   data-offset-y="500"
                   data-origin="tl">
                    Contact Us <i class="fa fa-envelope"></i>
                </a>
            </div>

            <!-- Another Slide Item -->
            <div class="ms-slide slide8" data-delay="8" data-fill-mode="fill">
                <img src="assets/masterslider/blank.gif"
                     alt=""
                     title=""
                     data-src="images/slider/bg1.jpg" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/iphone2.png"
                     alt=""
                     data-effect="skewtop(-25,300)"
                     data-duration="1437"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="483"
                     data-offset-y="84"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="assets/masterslider/blank.gif"
                     data-src="images/slider/iphone1.png"
                     alt=""
                     data-effect="skewleft(-25,465)"
                     data-duration="1450"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="215"
                     data-offset-y="168"
                     data-origin="tl" />

                <div class="ms-layer white-bg"
                     data-effect="skewleft(-25,600)"
                     data-delay="1225"
                     data-ease="easeOutQuint"
                     data-offset-x="217"
                     data-offset-y="450" data-origin="tl">
                    fully responsive <em>&amp;</em>
                </div>

                <div class="ms-layer blue-bg"
                     data-effect="skewbottom(-25,375)"
                     data-delay="975"
                     data-ease="easeOutQuint"
                     data-offset-x="410"
                     data-offset-y="450"
                     data-origin="tl">
                    highly customizable <em>&amp;</em>
                </div>

                <div class="ms-layer white-bg"
                     data-effect="skewright(25,565)"
                     data-delay="1262"
                     data-ease="easeOutQuint"
                     data-offset-x="641"
                     data-offset-y="450"
                     data-origin="tl">
                    unlimited options
                </div>

                <div class="ms-layer focuz-slide-mdt text-uppercase"
                     data-effect="front(1900)"
                     data-delay="2050"
                     data-ease="easeOutQuint"
                     data-offset-x="364"
                     data-offset-y="530"
                     data-origin="tl">
                    we’re trying to make you fall in <span>love !</span>
                </div>
            </div>

        </div>
        <!-- END MasterSlider Main -->
    </div>
    <!-- END MasterSlider -->
</section>
<!-- Slider Section End -->
<!-- Action Section -->
<section id="top-action-section" class="callout-action top-part">
    <div class="callout-action-area polygon-bg relative">
        <div class="overlay-effects box-pattern"></div>
        <div class="container">
            <div class="callout-content relative section-padding bp0 clearfix">
                <div class="col-md-8">
                    <div class="row">
                        <h1>What is included in <span>Focuz</span> Package ?</h1>
                        <p class="action-description">
                            The best page builder & dozens of shortcodes to create whatever you want with just few clicks !
                        </p>

                    </div><!-- /.row -->
                </div><!-- /.col-md-8 -->

                <div class="col-md-4 text-right">
                    <a href="#" class="btn md-btn purchase">
                        Purchase it Now  <i class="fa fa-shopping-cart"></i>
                    </a>
                </div><!-- /.col-md-4 -->
            </div><!--  /.callout-content -->
        </div><!--  /.container -->
    </div><!--  /.callout-action-area -->
</section>
<!-- Action Section  End -->
<!-- Service Section -->
<section id="serviceSection" class="service-section">
    <div class="container">
        <div class="section-padding">
            <div class="title-container text-center">
                <h2 class="striped-title wow bounceInUp" data-wow-delay=".1s">
                    What we <span>Offer</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description wow bounceInUp" data-wow-delay=".2s">
                    We offer our customers the best services & solutions, this is our main services list
                </p>
            </div><!-- /.title-container -->

            <div class="service-container">
                <div class="row">
                    <div class="owl-container wow bounceInUp" data-wow-delay=".3s">
                        <div class="carousel-navigator text-center">
                            <button class="btn nav-btn sm-btn rbtn prev tprev"><i class="fa fa-long-arrow-left"></i></button>
                            <button class="btn nav-btn sm-btn rbtn next tnext"><i class="fa fa-long-arrow-right"></i></button>
                        </div>

                        <div id="serviceSlider" class="testimonial-slider owl-carousel owl-theme" data-pagination="true" data-screenitems="[[0, 1],[450, 1], [700, 2], [1000, 3], [1200, 3]]" data-items="3" data-autoplay="true">
                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-desktop"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Fully Responsive Layout</a></h4>
                                        <div class="sub-title">
                                            Desktop, Tablets & Phones
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-bolt"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Multipurpose Theme</a></h4>
                                        <div class="sub-title">
                                            Agency, Portfolio &amp;...
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-wrench"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Awesome Friendly Support</a></h4>
                                        <div class="sub-title">
                                            Free Lifetime Supports & Updates
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-code"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Fully Responsive Layout</a></h4>
                                        <div class="sub-title">
                                            Desktop, Tablets & Phones
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Multipurpose Theme</a></h4>
                                        <div class="sub-title">
                                            Agency, Portfolio &amp;...
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->

                            <div class="item col-md-12">
                                <div class="item-container service v4">
                                    <div class="icon text-center">
                                        <i class="fa fa-support"></i>
                                    </div>
                                    <div class="service-text">
                                        <h4 class="feature-title"><a href="#">Awesome Friendly Support</a></h4>
                                        <div class="sub-title">
                                            Free Lifetime Supports & Updates
                                        </div>
                                        <p class="texts">
                                            Proin in magna a ipsum viverra scelerisq enec turp,
                                            Nunc vestibulum fringilla accumsan,
                                            Ute convallis est eu lectus eleifend.
                                        </p>
                                        <a class="btn read-more no-border lp0 lm0">
                                            Read more <i class="fa fa-hand-o-right"></i>
                                        </a>
                                    </div><!-- /.service-text -->
                                </div><!-- /.item-container -->
                            </div><!-- /.col-md-4 -->
                        </div><!-- /.serviceSlider -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.service-container -->

        </div><!-- /.section-padding -->
    </div>
</section><!-- /#serviceSection -->
<!-- Service Section End -->




<section class="callout-action section-padding">
    <div class="container">
        <div class="dark-bg">
            <div class="callout-content p30 lrp15 clearfix wow bounceInUp" data-wow-delay=".1s">
                <div class="col-md-9">
                    <h3 class="callout-title">Endless Features &amp; Options will give you the change to make everything happen!</h3>
                </div><!-- /.col-md-9 -->

                <div class="col-md-3 text-right">
                    <a href="#" class="btn md-btn purchase m0">
                        Purchase it Now  <i class="fa fa-shopping-cart"></i>
                    </a>
                </div><!-- /.col-md-4 -->
            </div><!-- /.callout-action -->
        </div><!-- /.dark-bg -->
    </div><!-- /.container -->
</section>


<!-- Blog Section  -->
<section id="blog" class="blog-page section-padding tp0">
    <div class="container p0">
        <div class="title-container text-center">
            <h2 class="striped-title wow bounceInUp" data-wow-delay=".1s">
                Latest From <span>Blog</span>
                <span class="stripe-t-left"></span>
                <span class="stripe-t-back"></span>
                <span class="stripe-t-right"></span>
            </h2>
            <p class="section-description wow bounceInUp" data-wow-delay=".2s">
                YOU CAN READ OUR FRESH NEWS & POSTS HERE AS WELL AS SEPERATED BLOG PAGES
            </p>
        </div><!-- /.title-container -->
        <div class="">
            <div class="post-container">
                <div id="grid-content" class="">
                    <div class="post-item col-md-4 wow bounceInUp" data-wow-delay=".05s">
                        <div class="single-post tm30">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <img src="images/blog/3-col/01.jpg" alt="Post Thumbnail">
                                </div><!-- /.post-thumbnail -->


                                <div class="post-content-box">
                                    <h4 class="entry-title text-center"> <a href="single.html">Your post title goes here</a></h4>
                                    <div class="post-meta-box">

                                        <div class="entry-meta text-center">
                                            <span class="post-format"> <i class="fa fa-file-picture-o"></i> </span>
                                            <span class="entry-date">
                                                <time datetime="2014-12-25T20:09:39+00:00">14 <br> DEC</time>
                                            </span>
                                            <span class="category">
                                                <a href="#"> <i class="fa fa-tags"></i> Agency, Business</a>
                                            </span>
                                            <span class="comments-link">
                                                <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                            </span>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.post-meta-box -->

                                    <div class="entry-content">
                                        <p>
                                            Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor fusce aliquam ...
                                        </p>
                                        <p>
                                            Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor fusce aliquam ...
                                        </p>
                                        <div class="btn-container">
                                            <a class="read-more btn md-btn full-btn" href="single.html">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div><!-- /.entry-content -->
                                </div><!-- /.post-content-box -->

                            </article><!-- /.type-post -->
                        </div><!-- /.single-post -->
                    </div><!-- /.post-item -->

                    <div class="post-item col-md-4 col-md-12 wow bounceInUp" data-wow-delay=".1s">
                        <div class="single-post tm30">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <iframe src="http://player.vimeo.com/video/114553695?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179"></iframe>
                                </div><!-- /.post-thumbnail -->


                                <div class="post-content-box">
                                    <h4 class="entry-title text-center"> <a href="single.html">Your post title goes here</a></h4>
                                    <div class="post-meta-box">

                                        <div class="entry-meta text-center">
                                            <span class="post-format"> <i class="fa fa-file-picture-o"></i> </span>
                                            <span class="entry-date">
                                                <time datetime="2014-12-25T20:09:39+00:00">14 <br> DEC</time>
                                            </span>
                                            <span class="category">
                                                <a href="#"> <i class="fa fa-tags"></i> Agency, Business</a>
                                            </span>
                                            <span class="comments-link">
                                                <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                            </span>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.post-meta-box -->

                                    <div class="entry-content">

                                        <div class="btn-container">
                                            <a class="read-more btn md-btn full-btn" href="single.html">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div><!-- /.entry-content -->
                                </div><!-- /.post-content-box -->

                            </article><!-- /.type-post -->
                        </div><!-- /.single-post -->
                    </div><!-- /.post-item -->

                    <div class="post-item col-md-4 wow bounceInUp" data-wow-delay=".15s">
                        <div class="single-post tm30">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <div class="twitter-feeds">
                                        <div class="tweet">
                                            <p>Phasellus vehicul just egediam posuere sollicitudin. Vestibulum nec quam pulviar, eleifend sem in, blandit velit. Sed et justo fringilla.</p>
                                            <a href="#">http://enva.to/GC58F</a>
                                            <div class="tweet-time"><p>- 2 min ago -</p></div>
                                        </div>
                                    </div>
                                </div><!-- /.post-thumbnail -->


                                <div class="post-content-box">
                                    <h4 class="entry-title text-center"> <a href="single.html">Your post title goes here</a></h4>
                                    <div class="post-meta-box">

                                        <div class="entry-meta text-center">
                                            <span class="post-format"> <i class="fa fa-file-picture-o"></i> </span>
                                            <span class="entry-date">
                                                <time datetime="2014-12-25T20:09:39+00:00">14 <br> DEC</time>
                                            </span>
                                            <span class="category">
                                                <a href="#"> <i class="fa fa-tags"></i> Agency, Business</a>
                                            </span>
                                            <span class="comments-link">
                                                <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                            </span>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.post-meta-box -->

                                    <div class="entry-content">
                                        <p>
                                            Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor fusce aliquam ...
                                        </p>
                                        <div class="btn-container">
                                            <a class="read-more btn md-btn full-btn" href="single.html">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div><!-- /.entry-content -->
                                </div><!-- /.post-content-box -->

                            </article><!-- /.type-post -->
                        </div><!-- /.single-post -->
                    </div><!-- /.post-item -->

                    <div class="post-item col-md-4 wow bounceInUp" data-wow-delay=".2s">
                        <div class="single-post tm30">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <div class="share-box text-center dark-bg">
                                        <a href="#">http://www.codexcoder.com</a>
                                    </div>
                                </div><!-- /.post-thumbnail -->


                                <div class="post-content-box">
                                    <h4 class="entry-title text-center"> <a href="single.html">Your post title goes here</a></h4>
                                    <div class="post-meta-box">

                                        <div class="entry-meta text-center">
                                            <span class="post-format"> <i class="fa fa-file-picture-o"></i> </span>
                                            <span class="entry-date">
                                                <time datetime="2014-12-25T20:09:39+00:00">14 <br> DEC</time>
                                            </span>
                                            <span class="category">
                                                <a href="#"> <i class="fa fa-tags"></i> Agency, Business</a>
                                            </span>
                                            <span class="comments-link">
                                                <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                            </span>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.post-meta-box -->

                                    <div class="entry-content">
                                        <p>
                                            Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor fusce aliquam ...
                                        </p>
                                        <div class="btn-container">
                                            <a class="read-more btn md-btn full-btn" href="single.html">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div><!-- /.entry-content -->
                                </div><!-- /.post-content-box -->

                            </article><!-- /.type-post -->
                        </div><!-- /.single-post -->
                    </div><!-- /.post-item -->

                    <div class="post-item col-md-4 wow bounceInUp" data-wow-delay=".25s">
                        <div class="single-post tm30">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <audio controls="">
                                        <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg">
                                        <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div><!-- /.post-thumbnail -->


                                <div class="post-content-box">
                                    <h4 class="entry-title text-center"> <a href="single.html">Your post title goes here</a></h4>
                                    <div class="post-meta-box">

                                        <div class="entry-meta text-center">
                                            <span class="post-format"> <i class="fa fa-file-picture-o"></i> </span>
                                            <span class="entry-date">
                                                <time datetime="2014-12-25T20:09:39+00:00">14 <br> DEC</time>
                                            </span>
                                            <span class="category">
                                                <a href="#"> <i class="fa fa-tags"></i> Agency, Business</a>
                                            </span>
                                            <span class="comments-link">
                                                <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                            </span>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.post-meta-box -->

                                    <div class="entry-content">
                                        <p>
                                            Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor fusce aliquam ...
                                        </p>
                                        <div class="btn-container">
                                            <a class="read-more btn md-btn full-btn" href="single.html">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div><!-- /.entry-content -->
                                </div><!-- /.post-content-box -->

                            </article><!-- /.type-post -->
                        </div><!-- /.single-post -->
                    </div><!-- /.post-item -->

                    <div class="post-item col-md-4 wow bounceInUp" data-wow-delay=".3s">
                        <div class="single-post tm30">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <div id="postImgSlider" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#postImgSlider" data-slide-to="0" class=""></li>
                                            <li data-target="#postImgSlider" data-slide-to="1" class=""></li>
                                            <li data-target="#postImgSlider" data-slide-to="2" class="active"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item">
                                                <img src="images/blog/3-col/01.jpg" alt="Post Thumbnail">
                                            </div>
                                            <div class="item">
                                                <img src="images/blog/3-col/02.jpg" alt="Post Thumbnail">
                                            </div>
                                            <div class="item active">
                                                <img src="images/blog/3-col/03.jpg" alt="Post Thumbnail">
                                            </div>
                                        </div><!-- /.carousel-inner -->
                                        <a class="slide-nav left" href="#postImgSlider" data-slide="prev"><i class="fa fa-long-arrow-left"></i></a>
                                        <a class="slide-nav right" href="#postImgSlider" data-slide="next"><i class="fa fa-long-arrow-right"></i></a>
                                    </div><!-- /#postImgSlider -->

                                </div><!-- /.post-thumbnail -->


                                <div class="post-content-box">
                                    <h4 class="entry-title text-center"> <a href="single.html">Your post title goes here</a></h4>
                                    <div class="post-meta-box">

                                        <div class="entry-meta text-center">
                                            <span class="post-format"> <i class="fa fa-file-picture-o"></i> </span>
                                            <span class="entry-date">
                                                <time datetime="2014-12-25T20:09:39+00:00">14 <br> DEC</time>
                                            </span>
                                            <span class="category">
                                                <a href="#"> <i class="fa fa-tags"></i> Agency, Business</a>
                                            </span>
                                            <span class="comments-link">
                                                <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                            </span>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.post-meta-box -->

                                    <div class="entry-content">
                                        <p>
                                            Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor fusce aliquam ...
                                        </p>
                                        <div class="btn-container">
                                            <a class="read-more btn md-btn full-btn" href="single.html">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div><!-- /.entry-content -->
                                </div><!-- /.post-content-box -->

                            </article><!-- /.type-post -->
                        </div><!-- /.single-post -->
                    </div><!-- /.post-item -->

                    <div class="post-item col-md-4 wow bounceInUp" data-wow-delay=".35s">
                        <div class="single-post tm30">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156676597&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                                </div><!-- /.post-thumbnail -->


                                <div class="post-content-box">
                                    <h4 class="entry-title text-center"> <a href="single.html">Your post title goes here</a></h4>
                                    <div class="post-meta-box">

                                        <div class="entry-meta text-center">
                                            <span class="post-format"> <i class="fa fa-file-picture-o"></i> </span>
                                            <span class="entry-date">
                                                <time datetime="2014-12-25T20:09:39+00:00">14 <br> DEC</time>
                                            </span>
                                            <span class="category">
                                                <a href="#"> <i class="fa fa-tags"></i> Agency, Business</a>
                                            </span>
                                            <span class="comments-link">
                                                <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                            </span>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.post-meta-box -->

                                    <div class="entry-content">
                                        <p>
                                            Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor fusce aliquam ...
                                        </p>
                                        <div class="btn-container">
                                            <a class="read-more btn md-btn full-btn" href="single.html">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div><!-- /.entry-content -->
                                </div><!-- /.post-content-box -->

                            </article><!-- /.type-post -->
                        </div><!-- /.single-post -->
                    </div><!-- /.post-item -->

                    <div class="post-item col-md-4 wow bounceInUp" data-wow-delay=".4s">
                        <div class="single-post tm30">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <video controls>
                                        <source src="videos/movie.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div><!-- /.post-thumbnail -->


                                <div class="post-content-box">
                                    <h4 class="entry-title text-center"> <a href="single.html">Your post title goes here</a></h4>
                                    <div class="post-meta-box">

                                        <div class="entry-meta text-center">
                                            <span class="post-format"> <i class="fa fa-file-picture-o"></i> </span>
                                            <span class="entry-date">
                                                <time datetime="2014-12-25T20:09:39+00:00">14 <br> DEC</time>
                                            </span>
                                            <span class="category">
                                                <a href="#"> <i class="fa fa-tags"></i> Agency, Business</a>
                                            </span>
                                            <span class="comments-link">
                                                <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                            </span>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.post-meta-box -->

                                    <div class="entry-content">
                                        <p>
                                            Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor fusce aliquam ...
                                        </p>
                                        <div class="btn-container">
                                            <a class="read-more btn md-btn full-btn" href="single.html">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div><!-- /.entry-content -->
                                </div><!-- /.post-content-box -->

                            </article><!-- /.type-post -->
                        </div><!-- /.single-post -->
                    </div><!-- /.post-item -->

                    <div class="post-item col-md-4 wow bounceInUp" data-wow-delay=".45s">
                        <div class="single-post tm30">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <div class="quote-post">
                                        <div class="quote-content">
                                            <p>Phasellus vehicul just egediam posuere sollicitudin. Vestibulum nec quam pulviar, eleifend sem in, blandit velit. Sed et justo fringilla.</p>
                                            <div class="quote-name"><p>- Morris Watson -</p></div>
                                        </div>
                                    </div>

                                </div><!-- /.post-thumbnail -->


                                <div class="post-content-box">
                                    <h4 class="entry-title text-center"> <a href="single.html">Your post title goes here</a></h4>
                                    <div class="post-meta-box">

                                        <div class="entry-meta text-center">
                                            <span class="post-format"> <i class="fa fa-file-picture-o"></i> </span>
                                            <span class="entry-date">
                                                <time datetime="2014-12-25T20:09:39+00:00">14 <br> DEC</time>
                                            </span>
                                            <span class="category">
                                                <a href="#"> <i class="fa fa-tags"></i> Agency, Business</a>
                                            </span>
                                            <span class="comments-link">
                                                <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                            </span>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.post-meta-box -->

                                    <div class="entry-content">
                                        <p>
                                            Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor fusce aliquam ...
                                        </p>
                                        <div class="btn-container">
                                            <a class="read-more btn md-btn full-btn" href="single.html">Read More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div><!-- /.entry-content -->
                                </div><!-- /.post-content-box -->

                            </article><!-- /.type-post -->
                        </div><!-- /.single-post -->
                    </div><!-- /.post-item -->
                </div><!-- /.masonry-col3 -->

            </div><!-- /.post-container -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-page -->
<!-- Blog Section End -->

<hr>

<div class="text-center tm30 bm30">
    <button type="button" class="btn md-btn">Load More Posts <i class="fa fa-refresh"></i></button>
    <button type="button" class="btn md-btn">Go To Blog Page <i class="fa fa-pencil"></i></button>
</div>

