@using web.railgun.com.Models


<!-- Slider Section -->
<section id="slider" class="slider-section">
    <!-- MasterSlider -->
    <div id="home-focuz-main-slider" class="master-slider-parent focuz-main-slider ms-parent-id-2">
        <!-- MasterSlider Main -->
        <div id="focuz-main-slider" class="master-slider ms-skin-default">

            <!-- Another Slide Item-->
            <div class="ms-slide slide5" data-delay="8" data-fill-mode="fill">
                <img src="/assets/masterslider/blank.gif"
                     alt=""
                     title=""
                     data-src="/images/slider/bg2.jpg" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/022.png"
                     alt=""
                     data-effect="back(1000)"
                     data-duration="275"
                     data-delay="1350"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="642"
                     data-offset-y="169"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/032.png"
                     alt=""
                     data-effect="back(1000)"
                     data-duration="262"
                     data-delay="1275"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="871"
                     data-offset-y="164"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/012.png"
                     alt=""
                     data-effect="back(1000)"
                     data-duration="237"
                     data-delay="1237"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="627"
                     data-offset-y="289"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/041.png"
                     alt=""
                     data-effect="back(1000)"
                     data-duration="237"
                     data-delay="1200"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="936"
                     data-offset-y="367"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/railgunSmall.png"
                     alt=""
                     data-effect="front(1500)"
                     data-duration="1500"
                     data-delay="0"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="347"
                     data-offset-y="365"
                     data-origin="tl" />


                <div class="ms-layer focuz-slide-lgt text-uppercase"
                     data-effect="left(500)"
                     data-duration="1400"
                     data-delay="585"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="80"
                     data-origin="tl">
                    Existing <span>small or medium</span> sized business?
                </div>

                <div class="ms-layer focuz-slide-lgt text-uppercase"
                     data-effect="left(500)"
                     data-duration="1400"
                     data-delay="585"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="147"
                     data-origin="tl">
                    Have a great business idea?
                </div>

                <div class="ms-layer focuz-slide-mdt text-uppercase"
                     data-effect="right(500)"
                     data-duration="1325"
                     data-delay="925"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="235"
                     data-origin="tl">
                    <span>...then railgun.it!!</span>
                </div>

                <div class="ms-layer focuz-slide-smt"
                     data-effect="right(500)"
                     data-duration="1325"
                     data-delay="1275"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="299"
                     data-origin="tl">
                    <img class="focuz-slide-tick"
                         src="/images/slider/tick1.png"
                         alt="tick" />
                    Custom best of breed IT development for your business!
                </div>
                <div class="ms-layer focuz-slide-smt"
                     data-effect="right(500)"
                     data-duration="1325"
                     data-delay="1275"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="318"
                     data-origin="tl">
                    <img class="focuz-slide-tick"
                         src="/images/slider/tick1.png"
                         alt="tick" />
                    Websites, APIs, Apps all built to top-tier standards to suit your business model
                </div>
                <div class="ms-layer focuz-slide-smt"
                     data-effect="right(500)"
                     data-duration="1325"
                     data-delay="1275"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="337"
                     data-origin="tl">
                    <img class="focuz-slide-tick"
                         src="/images/slider/tick1.png"
                         alt="tick" />
                    Perfect for small / medium businesses who need high quality, bespoke designed technologies
                </div>
                <div class="ms-layer focuz-slide-smt"
                     data-effect="right(500)"
                     data-duration="1325"
                     data-delay="1275"
                     data-ease="easeOutQuint"
                     data-offset-x="0"
                     data-offset-y="356"
                     data-origin="tl">
                    <img class="focuz-slide-tick"
                         src="/images/slider/tick1.png"
                         alt="tick" />
                    Implemented by professionals with years of experience and all built to the latest industry standards
                </div>



                <a href=""
                   target="_blank"
                   class="ms-layer btn focuz-slide-bs-btn"
                   data-delay="2050"
                   data-ease="easeOutQuint"
                   data-type="button"
                   data-offset-x="0"
                   data-offset-y="400"
                   data-origin="tl">
                    Read more <i class="fa fa-hand-o-right"></i>
                </a>

                <a href=""
                   target="_blank"
                   class="ms-layer btn focuz-slide-bs-btn"
                   data-effect="left(150)"
                   data-delay="2525"
                   data-ease="easeOutQuint"
                   data-type="button"
                   data-offset-x="140"
                   data-offset-y="400"
                   data-origin="tl">
                    Contact Us <i class="fa fa-envelope"></i>
                </a>
            </div>

            <!-- Another Slide Item -->
            <div class="ms-slide slide6" data-delay="8" data-fill-mode="fill">
                <img src="/assets/masterslider/blank.gif"
                     alt=""
                     title=""
                     data-src="/images/slider/bg3.jpg" />

                <div class="ms-layer focuz-slide-lgt text-uppercase"
                     data-effect="top(254)"
                     data-ease="easeOutQuint"
                     data-offset-x="146"
                     data-offset-y="46"
                     data-origin="tl">
                    cross browser compatible
                </div>

                <div class="ms-layer focuz-slide-mdt text-uppercase"
                     data-effect="bottom(40)"
                     data-delay="812"
                     data-ease="easeOutQuint"
                     data-offset-x="356"
                     data-offset-y="145"
                     data-origin="tl">
                    <span>Railgun websites render the same on all major browsers!</span>
                </div>

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/shadow4.png"
                     alt=""
                     data-delay="3012"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="784"
                     data-offset-y="350"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/icon4.png"
                     alt=""
                     data-effect="right(450)"
                     data-delay="3162"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="784"
                     data-offset-y="226"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/shadow3.png"
                     alt=""
                     data-delay="2750"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="604"
                     data-offset-y="391"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/icon3.png"
                     alt=""
                     data-effect="right(450)"
                     data-delay="3012"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="644"
                     data-offset-y="241"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/shadow2.png"
                     alt=""
                     data-delay="2875"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="171"
                     data-offset-y="342"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/icon2.png"
                     alt=""
                     data-effect="left(465)"
                     data-delay="3162"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="208"
                     data-offset-y="217"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/shadow1.png"
                     alt=""
                     data-delay="2675"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="277"
                     data-offset-y="362"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/icon1.png"
                     alt=""
                     data-effect="left(420)"
                     data-delay="3037"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="323"
                     data-offset-y="236"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/shadow.png"
                     alt=""
                     data-delay="1187"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="440"
                     data-offset-y="409"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/icon.png"
                     alt=""
                     data-effect="front(2000)"
                     data-delay="1725"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="473"
                     data-offset-y="254"
                     data-origin="tl" />

                <a href=""
                   target="_blank"
                   class="ms-layer btn focuz-slide-bs-btn"
                   data-effect="right(150)"
                   data-delay="3587"
                   data-ease="easeOutQuint"
                   data-type="button"
                   data-offset-x="420"
                   data-offset-y="500"
                   data-origin="tl">
                    Read more <i class="fa fa-hand-o-right"></i>
                </a>

                <a href=""
                   target="_blank"
                   class="ms-layer btn focuz-slide-bs-btn"
                   data-effect="left(150)"
                   data-delay="3587"
                   data-ease="easeOutQuint"
                   data-type="button"
                   data-offset-x="565"
                   data-offset-y="500"
                   data-origin="tl">
                    Contact Us <i class="fa fa-envelope"></i>
                </a>
            </div>

            <!-- Another Slide Item -->
            <div class="ms-slide slide8" data-delay="8" data-fill-mode="fill">
                <img src="/assets/masterslider/blank.gif"
                     alt=""
                     title=""
                     data-src="/images/slider/bg1.jpg" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/ironPhone.png"
                     alt=""
                     data-effect="skewtop(-25,300)"
                     data-duration="1437"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="623"
                     data-offset-y="84"
                     data-origin="tl" />

                <img class="ms-layer"
                     src="/assets/masterslider/blank.gif"
                     data-src="/images/slider/iphone.png"
                     alt=""
                     data-effect="skewleft(-25,465)"
                     data-duration="1450"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-offset-x="200"
                     data-offset-y="120"
                     data-origin="tl" />

                <div class="ms-layer white-bg"
                     data-effect="skewleft(-25,600)"
                     data-delay="1225"
                     data-ease="easeOutQuint"
                     data-offset-x="217"
                     data-offset-y="450" data-origin="tl">
                    fully responsive <em>&amp;</em>
                </div>

                <div class="ms-layer blue-bg"
                     data-effect="skewbottom(-25,375)"
                     data-delay="975"
                     data-ease="easeOutQuint"
                     data-offset-x="410"
                     data-offset-y="450"
                     data-origin="tl">
                    highly customizable <em>&amp;</em>
                </div>

                <div class="ms-layer white-bg"
                     data-effect="skewright(25,565)"
                     data-delay="1262"
                     data-ease="easeOutQuint"
                     data-offset-x="641"
                     data-offset-y="450"
                     data-origin="tl">
                    unlimited options
                </div>

                <div class="ms-layer focuz-slide-mdt text-uppercase"
                     data-effect="front(1900)"
                     data-delay="2050"
                     data-ease="easeOutQuint"
                     data-offset-x="364"
                     data-offset-y="530"
                     data-origin="tl">
                    All Railgun tech is <span>100% mobile compatible</span> as standard !
                </div>
            </div>

        </div>
        <!-- END MasterSlider Main -->
    </div>
    <!-- END MasterSlider -->
</section>
<!-- Slider Section End -->
<!-- Action Section -->
<section id="top-action-section" class="callout-action top-part">
    <div class="callout-action-area polygon-bg relative">
        <div class="overlay-effects box-pattern"></div>
        <div class="container">
            <div class="callout-content relative section-padding bp0 clearfix">
                <div class="col-md-8">
                    <div class="row">
                        <h1>Off-the-rack IT? One size fits all? <span>Oh dear.</span></h1>
                        <p class="action-description">
                            the modern business tech-environment is a jungle - Don't get caught without your <span style="color:#00a1cb">Railgun!</span>
                        </p>

                    </div><!-- /.row -->
                </div><!-- /.col-md-8 -->

                <div class="col-md-4 text-right">
                    <a href="#" class="btn md-btn purchase">
                        View Pricing <i class="fa fa-shopping-cart"></i>
                    </a>
                </div><!-- /.col-md-4 -->
            </div><!--  /.callout-content -->
        </div><!--  /.container -->
    </div><!--  /.callout-action-area -->
</section>
<!-- Action Section  End -->
@{
    Html.RenderPartial("~/Views/Home/Products.cshtml", (IEnumerable<Category>)ViewBag.Categories);

    <section id="top-action-section" class="callout-action top-part">
        <div class="callout-action-area polygon-bg relative">
            <div class="overlay-effects box-pattern"></div>
            <div class="container">
                <div class="callout-content relative section-padding bp0 clearfix">
                    <div class="col-md-8">
                        <div class="row">
                            <h1>Dammit Jim, I'm a entrepreneur not an <span>accountant!</span></h1>
                            <p class="action-description">
                                Worried about how much this is going to cost? Don't be. We <span style="color:#00a1cb">price by feature</span> - only pay for what you need!
                            </p>

                        </div><!-- /.row -->
                    </div><!-- /.col-md-8 -->

                    <div class="col-md-4 text-right">
                        <a href="#" class="btn md-btn purchase">
                            View Pricing <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div><!-- /.col-md-4 -->
                </div><!--  /.callout-content -->
            </div><!--  /.container -->
        </div><!--  /.callout-action-area -->
    </section>


    Html.RenderPartial("~/Views/Home/Services.cshtml");

    <hr />
    Html.RenderPartial("~/Views/Home/Pricing.cshtml");

}



<section class="callout-action section-padding">
    <div class="container">
        <div class="dark-bg">
            <div class="callout-content p30 lrp15 clearfix wow bounceInUp" data-wow-delay=".1s">
                <div class="col-md-9">
                    <h1 style="color:white">"Railgun got my online card sales project up and running from nothing in 13 days" - Tom Boating </h1>                    
                </div><!-- /.col-md-9 -->
                <div class="col-md-3 text-right">
                    <a href="#" class="btn md-btn purchase m0">
                        Tell us about your business now<i class="fa fa-shopping-cart"></i>
                    </a>
                </div><!-- /.col-md-4 -->
            </div><!-- /.callout-action -->
        </div><!-- /.dark-bg -->
    </div><!-- /.container -->
</section>


<hr>

<div class="text-center tm30 bm30">
    <button type="button" class="btn md-btn">Learn about how we work <i class="fa fa-refresh"></i></button>
    <button type="button" class="btn md-btn">View our prices <i class="fa fa-pencil"></i></button>
</div>

