
@{
    ViewBag.Title = "LetTalkBusiness";
}

<!-- Page Header Section  -->
<section id="site-page-header" class="site-page-header blog-header polygon-bg">
    <div class="overlay-effects box-pattern index-1"></div>
    <div class="container">
        <div class="page-header-content display-table-middle">
            <div class="inside-content vertical-middle">
                <h1 class="page-title text-center highlighted">services</h1>
                <h3 class="page-description text-center">step by step services that we offer</h3>
            </div>
        </div><!--  /.page-header-content -->
        <div class="site-breadcrumb pull-right">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active">Services</li>
            </ol>
        </div>
    </div><!--  /.container -->
</section><!-- /#page-header  -->
<!-- Page Header Section End -->





<div class="section-padding text-center">
    <h1 class="tm0">Different <em>ideas</em> & <em>Visions</em> Result completely <span>outstanding</span> works </h1>
    <p class="section-description">
        We’re Trying Our Bests to Deliver Our Customers real high quality products with unlimited features
    </p>
    <div class="btn-container">
        <a href="#" class="btn md-btn">
            Contact Us Now <i class="fa fa-envelope"></i>
        </a>

        <a href="#" class="btn md-btn">
            Purchase it Now  <i class="fa fa-shopping-cart"></i>
        </a>
    </div>
</div>


<hr>



<!-- Features Section -->
<section class="features  section-padding">
    <div class="container">
        <div class="title-container text-center">
            <h2 class="striped-title">
                Our Core <span> Services </span>
                <span class="stripe-t-left"></span>
                <span class="stripe-t-back"></span>
                <span class="stripe-t-right"></span>
            </h2>
            <p class="section-description">
                we offer our customers the best services & solutions, this is our main services list
            </p>
        </div><!-- /.title-container -->

        <div class="row">

            <div class="col-md-3 col-sm-6 text-center">
                <div class="item-container v2">
                    <div class="icon mauto">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <h5 class="feature-title">Fully Responsive Layout</h5>
                    <p class="stripe-bfixw sub-title">Desktops, Tables & Phones</p>
                    <p>
                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                    </p>
                </div><!-- /.item-container -->
            </div><!-- /.col-md-3 -->


            <div class="col-md-3 col-sm-6 text-center">
                <div class="item-container v2">
                    <div class="icon mauto">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <h5 class="feature-title">Multipurpose Theme</h5>
                    <p class="stripe-bfixw sub-title">Agency, Portfolio & ...</p>
                    <p>
                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                    </p>
                </div><!-- /.item-container -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6 text-center">
                <div class="item-container v2">
                    <div class="icon mauto">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <h5 class="feature-title">Easy to Use & Customize</h5>
                    <p class="stripe-bfixw sub-title">One Click Demo Content Installation</p>
                    <p>
                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                    </p>
                </div><!-- /.item-container -->
            </div><!-- /.col-md-3 -->


            <div class="col-md-3 col-sm-6 text-center">
                <div class="item-container v2">
                    <div class="icon mauto">
                        <i class="fa fa-support"></i>
                    </div>
                    <h5 class="feature-title">Awesome Friendly Support</h5>
                    <p class="stripe-bfixw sub-title">free Lifetime Support & Updates</p>
                    <p>
                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                    </p>
                </div><!-- /.item-container -->
            </div><!-- /.col-md-3 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.features -->
<!-- Features Section End -->
<!-- Operation Section -->
<section id="operation" class="clearfix striped-section operation">
    <div class="striped-icon">
        <i class="fa fa-cogs"></i>
    </div><!-- /.striped-icon -->

    <div class="polygon-bg parallax-bg">
        <div class="box-pattern overlay">
            <div class="container">
                <div class="section-padding">
                    <div class="title-container text-center">
                        <h2 class="striped-title">
                            <span>Operation</span> Steps
                            <span class="stripe-t-left"></span>
                            <span class="stripe-t-back"></span>
                            <span class="stripe-t-right"></span>
                        </h2>
                        <p class="section-description">
                            For delivering over services in high quality and of course on time we first make a fully organized workflow
                        </p>
                    </div><!-- /.title-container -->


                    <div class="owl-container">
                        <div class="carousel-navigator text-center">
                            <button class="btn nav-btn sm-btn rbtn prev oprev"><i class="fa fa-long-arrow-left"></i></button>
                            <button class="btn nav-btn sm-btn rbtn next onext"><i class="fa fa-long-arrow-right"></i></button>
                        </div>


                        <div id="operationSlider" class="recent-post-slider owl-carousel owl-theme" data-pagination="false" data-screenitems="[[0, 1], [600, 2], [1000, 3], [1200, 4]]" data-items="4">

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  01 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">Innovative Ideas</a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  02 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">In Detail Researches </a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  03 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">Well Organized Flows</a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  04 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">Latest Technologies </a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  05 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">Fully Responsive Layout</a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                        </div><!-- /.operationSlider -->
                    </div><!-- /.owl-slider -->

                </div><!-- /.section-padding -->
            </div><!-- /.container -->
        </div><!-- /.box-pattern -->
    </div><!-- /.polygon-bg -->
</section><!-- /#operation -->
<!-- Operation Section End -->
<!-- Pricing Section -->
<section id="pricing" class="pricing-section">
    <div class="container">
        <div class="section-padding">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    Real Cheap <span>Prices</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    We offer all our services in real low prices in comparison with others similar companies
                </p>
            </div><!-- /.title-container -->

            <div class="pricing-container">
                <div class="row">
                    <div class="owl-container">
                        <div id="priceSlider" class="recent-post-slider owl-carousel owl-theme" data-pagination="false" data-screenitems="[[0, 1], [600, 2], [1000, 3], [1200, 4]]" data-items="4" data-autoplay="3000">

                            <div class="item col-sm-12">
                                <div class="price-item text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <h5 class="stripe-over">
                                            Standard Plan
                                        </h5>
                                    </div>

                                    <div class="price-box">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">99</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>5 Projects</li>
                                        <li>5 GB Storage</li>
                                        <li>Unlimited Users</li>
                                        <li>10 GB Bandwidth</li>
                                        <li>Enhanced Security</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->


                            <div class="item col-sm-12">
                                <div class="price-item text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <h5 class="stripe-over">
                                            Premium Plan
                                        </h5>
                                    </div>

                                    <div class="price-box">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">199</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>5 Projects</li>
                                        <li>5 GB Storage</li>
                                        <li>Unlimited Users</li>
                                        <li>10 GB Bandwidth</li>
                                        <li>Enhanced Security</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->


                            <div class="item col-sm-12">
                                <div class="price-item text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <span class="featured left"><i class="fa fa-star"></i></span>
                                        <h5 class="stripe-over">
                                            Advanced Plan
                                        </h5>
                                        <span class="featured right"><i class="fa fa-star"></i></span>
                                    </div>

                                    <div class="price-box">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">299</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>5 Projects</li>
                                        <li>5 GB Storage</li>
                                        <li>Unlimited Users</li>
                                        <li>10 GB Bandwidth</li>
                                        <li>Enhanced Security</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->


                            <div class="item col-sm-12">
                                <div class="price-item text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <h5 class="stripe-over">
                                            Ultimate Plan
                                        </h5>
                                    </div>

                                    <div class="price-box">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">399</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>5 Projects</li>
                                        <li>5 GB Storage</li>
                                        <li>Unlimited Users</li>
                                        <li>10 GB Bandwidth</li>
                                        <li>Enhanced Security</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->

                            <div class="item col-sm-12">
                                <div class="price-item text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <h5 class="stripe-over">
                                            Ultimate Plan
                                        </h5>
                                    </div>

                                    <div class="price-box">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">399</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>5 Projects</li>
                                        <li>5 GB Storage</li>
                                        <li>Unlimited Users</li>
                                        <li>10 GB Bandwidth</li>
                                        <li>Enhanced Security</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->

                        </div><!-- /#priceSlider -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.pricing-container -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#pricing -->
<!-- Pricing Section End -->

<hr>




<!-- Testimonial Section -->
<section id="testimonial" class="pricing-section">
    <div class="container">
        <div class="section-padding">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    Positive <span> Testimonials </span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    We’ve worked for a lot of people and of course we’ve made them so happy! you can read some handpicked words about us here
                </p>
            </div><!-- /.title-container -->

            <div class="owl-container">
                <div class="carousel-navigator text-center">
                    <button class="btn nav-btn sm-btn rbtn prev tprev"><i class="fa fa-long-arrow-left"></i></button>
                    <button class="btn nav-btn sm-btn rbtn next tnext"><i class="fa fa-long-arrow-right"></i></button>
                </div>

                <div id="testimonialSlider" class="testimonial-slider owl-carousel p0 owl-theme" data-pagination="false" data-screenitems="[[0, 1], [600, 2], [1000, 3]]" data-items="4">

                    <div class="item col-sm-12">
                        <div class="testimonial-item">
                            <div class="client-img">
                                <img src="images/testimonials/1.jpg" alt="Client Image">
                            </div><!-- /.client-img -->

                            <div class="testimonial-txt text-center">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis est
                                    eu lectus eleifend aliquet Nulla aliquam arcu tortor pellentesque isque nulla non viverra.
                                </p>
                            </div><!-- /.testimonial-txt -->

                            <div class="testimonial-footer">
                                <h6 class="inline clinet-name">Jimmy Doe</h6>
                                <span class="client-company">Envato</span>

                                <div class="client-rating pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-empty"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div><!-- /.testimonial-footer -->
                        </div><!-- /.testimonial-item -->
                    </div><!-- /.item col-sm-12 -->


                    <div class="item col-sm-12">
                        <div class="testimonial-item">
                            <div class="client-img">
                                <img src="images/testimonials/2.jpg" alt="Client Image">
                            </div><!-- /.client-img -->

                            <div class="testimonial-txt text-center">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis est
                                    eu lectus eleifend aliquet Nulla aliquam arcu tortor pellentesque isque nulla non viverra.
                                </p>
                            </div><!-- /.testimonial-txt -->

                            <div class="testimonial-footer">
                                <h6 class="inline clinet-name">Maria Doe</h6>
                                <span class="client-company">Envato</span>

                                <div class="client-rating pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div><!-- /.testimonial-footer -->
                        </div><!-- /.testimonial-item -->
                    </div><!-- /.item col-sm-12 -->


                    <div class="item col-sm-12">
                        <div class="testimonial-item">
                            <div class="client-img">
                                <img src="images/testimonials/3.jpg" alt="Client Image">
                            </div><!-- /.client-img -->

                            <div class="testimonial-txt text-center">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis est
                                    eu lectus eleifend aliquet Nulla aliquam arcu tortor pellentesque isque nulla non viverra.
                                </p>
                            </div><!-- /.testimonial-txt -->

                            <div class="testimonial-footer">
                                <h6 class="inline clinet-name">William Doe</h6>
                                <span class="client-company">Envato</span>

                                <div class="client-rating pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!-- /.testimonial-footer -->
                        </div><!-- /.testimonial-item -->
                    </div><!-- /.item col-sm-12 -->


                    <div class="item col-sm-12">
                        <div class="testimonial-item">
                            <div class="client-img">
                                <img src="images/testimonials/2.jpg" alt="Client Image">
                            </div><!-- /.client-img -->

                            <div class="testimonial-txt text-center">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis est
                                    eu lectus eleifend aliquet Nulla aliquam arcu tortor pellentesque isque nulla non viverra.
                                </p>
                            </div><!-- /.testimonial-txt -->

                            <div class="testimonial-footer">
                                <h6 class="inline clinet-name">Jimmy Doe</h6>
                                <span class="client-company">Envato</span>

                                <div class="client-rating pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-empty"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div><!-- /.testimonial-footer -->
                        </div><!-- /.testimonial-item -->
                    </div><!-- /.item col-sm-12 -->
                </div><!--  /#testimonialSlider -->
            </div><!-- /.owl-container -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#testimonial -->
<!-- Testimonial Section End -->


