<!-- Operation Section -->
<section id="operation" class="clearfix striped-section operation">
    <div class="striped-icon">
        <i class="fa fa-cogs"></i>
    </div><!-- /.striped-icon -->

    <div class="polygon-bg parallax-bg">
        <div class="box-pattern overlay">
            <div class="container">
                <div class="section-padding">
                    <div class="title-container text-center">
                        <h2 class="striped-title">
                            <span>Operation</span> Steps
                            <span class="stripe-t-left"></span>
                            <span class="stripe-t-back"></span>
                            <span class="stripe-t-right"></span>
                        </h2>
                        <p class="section-description">
                            For delivering over services in high quality and of course on time we first make a fully organized workflow
                        </p>
                    </div><!-- /.title-container -->


                    <div class="owl-container">
                        <div class="carousel-navigator text-center">
                            <button class="btn nav-btn sm-btn rbtn prev oprev"><i class="fa fa-long-arrow-left"></i></button>
                            <button class="btn nav-btn sm-btn rbtn next onext"><i class="fa fa-long-arrow-right"></i></button>
                        </div>


                        <div id="operationSlider" class="recent-post-slider owl-carousel owl-theme" data-pagination="false" data-screenitems="[[0, 1], [600, 2], [1000, 3], [1200, 4]]" data-items="4">

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  01 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">Innovative Ideas</a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  02 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">In Detail Researches </a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  03 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">Well Organized Flows</a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  04 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">Latest Technologies </a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                            <div class="item col-md-12 text-center">
                                <div class="item-container">
                                    <div class="mauto arrow-circle">
                                        <span class="number">  05 </span>
                                        <span class="hover-icon">  <i class="fa fa-search"></i> </span>
                                        <div class="arrow">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </div>
                                    <h5 class="operation-title"><a href="#">Fully Responsive Layout</a></h5>
                                    <p>
                                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                                    </p>

                                </div><!-- /.item-container -->
                            </div><!-- /.item col-md-12 -->

                        </div><!-- /.operationSlider -->
                    </div><!-- /.owl-slider -->

                </div><!-- /.section-padding -->
            </div><!-- /.container -->
        </div><!-- /.box-pattern -->
    </div><!-- /.polygon-bg -->
</section><!-- /#operation -->
<!-- Operation Section End -->
