
@{
    ViewBag.Title = "Project";
}

<!-- Page Header Section  -->
<section id="site-page-header" class="site-page-header blog-header">
    <div class="overlay-effects box-pattern index-1"></div>
    <div class="container">
        <div class="page-header-content display-table-middle">
            <div class="inside-content vertical-middle">
                <h1 class="page-title text-center highlighted">portfolio</h1>
                <h3 class="page-description text-center">you can take a look at some of the bests of our works here</h3>
            </div>
        </div><!--  /.page-header-content -->
        <div class="site-breadcrumb pull-right">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Portfolio</a></li>
                <li class="breadcrumb-item active">Single Project</li>
            </ol>
        </div>
    </div><!--  /.container -->
</section><!-- /#page-header  -->
<!-- Page Header Section End -->
<!-- Works Section -->
<section id="works" class="clearfix">
    <div class="container">
        <div class="section-padding">


            <div class="portfolio-single">

                <div class="item cat-2 cat-4">
                    <div class="row">

                        <div class="col-md-12 md-bm30">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="portfolio-images border-style bm50">
                                        <figure>
                                            <img src="images/portfolio/single-full/1.jpg" alt="project Image">
                                        </figure>
                                    </div><!-- /.portfolio-item -->
                                </div>

                                <div class="col-md-4">
                                    <div class="stripe-full bm50">
                                        <h4 class="stripe-over stripe-blue tm0">
                                            Project <span>Title</span> goes Here
                                        </h4>
                                        <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                                    </div><!-- /.stripe-full -->
                                    <ul class="project-meta">
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                            <span class="meta-name">Categories</span>
                                            <span class="meta-text pull-right">Agency, Business, Branding</span>
                                        </li>
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                            <span class="meta-name">Author</span>
                                            <span class="meta-text pull-right">Richard Peterson</span>
                                        </li>
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                            <span class="meta-name">Skills</span>
                                            <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                        </li>
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                            <span class="meta-name">Date</span>
                                            <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                        </li>
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-users"></i></span>
                                            <span class="meta-name">Clients</span>
                                            <span class="meta-text pull-right">Envato, Themeforest</span>
                                        </li>
                                    </ul>
                                    <div>
                                        <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                                    </div>
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                        </div><!-- /.col-md-12 -->

                        <div class="col-md-12">

                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.Praesearcu turpis, ornare quis nunc vel, Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Cras pharetra, enim sodales feugiat tincidunt, mauris nisl hendrerit leo, vitae facilisis turpis risus porttitor leo. Mauris venenatis tincidunt mauris, ornare fermentum nulla lobortis eget. Quisque in ultrices ante. Morbi fringilla augue eget gravi euismod. Suspendisse vel varius justo, vitae luctus ante. Fusce posuere elit sed congue fermentum. Aliquam vel risus nec lorem sodales mattis. Curabitur eu mauris metus.
                                </p>
                            </div><!-- /.project-description -->


                        </div><!-- /.col-md-12 -->

                    </div><!-- /.row -->

                </div><!-- /.item -->

            </div><!-- /#portfolio-item -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#works -->
<!-- Works Section End -->

<hr>


<section>
    <div class="section-padding">
        <div class="container">

            <div class="share-box text-center dark-bg p30">
                <h4 class="share-title">Let's <span>share</span> this project with friends</h4>
                <p>You can introduce us to your friends to let them know about quality of our works on different social medias</p>
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="icon-content fa-facebook">Facebook</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon-content fa-twitter">Twitter</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon-content fa-google-plus">Google Plus</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon-content fa-pinterest">Pinterest</div>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.social-icons -->
            </div>

        </div>
    </div>
</section>




<section id="companyFacts">
    <div class="section-padding tp0">
        <div class="container">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    Company <span>Facts</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    We do love to work and increase our counter numbers, this is what we’ve done till now
                </p>
            </div><!-- /.title-container -->

            <div class="fact-container owl-container">
                <div id="factSlider" class="owl-carousel owl-theme" data-pagination="true" data-screenitems="[[0, 1], [600, 2], [1000, 3], [1100, 5]]" data-items="5" data-autoplay="3000">

                    <div class="item lrp15">
                        <div class="fact-item  text-center">
                            <p class="stripe-bfixw fact-count">
                                210
                            </p>
                            <h6 class="fact-details">Completed Projects</h6>
                            <div class="fact-icon">
                                <i class="fa fa-check-square-o"></i>
                            </div>
                        </div><!-- /.fact-item -->
                    </div><!-- /.item -->

                    <div class="item lrp15">
                        <div class="fact-item  text-center">
                            <p class="stripe-bfixw fact-count">
                                360
                            </p>
                            <h6 class="fact-details">Hours of Work <small>/ month</small></h6>
                            <div class="fact-icon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div><!-- /.fact-item -->
                    </div><!-- /.item -->

                    <div class="item lrp15">
                        <div class="fact-item  text-center">
                            <p class="stripe-bfixw fact-count">
                                135
                            </p>
                            <h6 class="fact-details">Solved Tickets</h6>
                            <div class="fact-icon">
                                <i class="fa fa-ticket"></i>
                            </div>
                        </div><!-- /.fact-item -->
                    </div><!-- /.item -->

                    <div class="item lrp15">
                        <div class="fact-item  text-center">
                            <p class="stripe-bfixw fact-count">
                                174
                            </p>
                            <h6 class="fact-details">Satisfied Clients </h6>
                            <div class="fact-icon">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                        </div><!-- /.fact-item -->
                    </div><!-- /.item -->

                    <div class="item lrp15">
                        <div class="fact-item  text-center">
                            <p class="stripe-bfixw fact-count">
                                3918
                            </p>
                            <h6 class="fact-details">Served Coffees</h6>
                            <div class="fact-icon">
                                <i class="fa fa-coffee"></i>
                            </div>
                        </div><!-- /.fact-item -->
                    </div><!-- /.item -->
                </div><!-- /#factSlider -->

            </div><!-- /.fact-container -->
        </div><!-- /.container -->
    </div><!-- /.section-padding -->
</section><!-- /#companyFacts -->


<hr>



<section id="team">
    <div class="section-padding">
        <div class="container">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    related <span>works</span> to this project
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests.
                </p>
            </div><!-- /.title-container -->
            <div class="row">
                <div class="owl-container">
                    <div class="carousel-navigator text-center bm30">
                        <button class="btn nav-btn sm-btn rbtn prev tmprev"><i class="fa fa-long-arrow-left"></i></button>
                        <button class="btn nav-btn sm-btn rbtn next tmnext"><i class="fa fa-long-arrow-right"></i></button>
                    </div>


                    <div id="teamSlider" class="owl-carousel owl-theme portfolio-item v2" data-pagination="false" data-screenitems="[[0, 1], [600, 2], [1000, 3], [1200, 4]]" data-items="4" data-autoplay="3000">
                        <div class="item lrp15">
                            <figure>
                                <img src="images/portfolio/1.jpg" alt="Item 3">
                                <div class="item-link">
                                    <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                </div><!-- /.item-link -->
                                <figcaption class="item-description">
                                    <h4 class="item-title">
                                        Corporate Brochure
                                    </h4><!-- /.item-title -->
                                    <span class="item-category">
                                        Agency, Business
                                        <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                    </span><!-- /.item-category -->
                                </figcaption>
                            </figure>
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <figure>
                                <img src="images/portfolio/2.jpg" alt="Item 3">
                                <div class="item-link">
                                    <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                </div><!-- /.item-link -->
                                <figcaption class="item-description">
                                    <h4 class="item-title">
                                        Corporate Brochure
                                    </h4><!-- /.item-title -->
                                    <span class="item-category">
                                        Agency, Business
                                        <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                    </span><!-- /.item-category -->
                                </figcaption>
                            </figure>
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <figure>
                                <img src="images/portfolio/3.jpg" alt="Item 3">
                                <div class="item-link">
                                    <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                </div><!-- /.item-link -->
                                <figcaption class="item-description">
                                    <h4 class="item-title">
                                        Corporate Brochure
                                    </h4><!-- /.item-title -->
                                    <span class="item-category">
                                        Agency, Business
                                        <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                    </span><!-- /.item-category -->
                                </figcaption>
                            </figure>
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <figure>
                                <img src="images/portfolio/4.jpg" alt="Item 3">
                                <div class="item-link">
                                    <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                </div><!-- /.item-link -->
                                <figcaption class="item-description">
                                    <h4 class="item-title">
                                        Corporate Brochure
                                    </h4><!-- /.item-title -->
                                    <span class="item-category">
                                        Agency, Business
                                        <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                    </span><!-- /.item-category -->
                                </figcaption>
                            </figure>
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <figure>
                                <img src="images/portfolio/5.jpg" alt="Item 3">
                                <div class="item-link">
                                    <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                </div><!-- /.item-link -->
                                <figcaption class="item-description">
                                    <h4 class="item-title">
                                        Corporate Brochure
                                    </h4><!-- /.item-title -->
                                    <span class="item-category">
                                        Agency, Business
                                        <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                    </span><!-- /.item-category -->
                                </figcaption>
                            </figure>
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <figure>
                                <img src="images/portfolio/6.jpg" alt="Item 3">
                                <div class="item-link">
                                    <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                </div><!-- /.item-link -->
                                <figcaption class="item-description">
                                    <h4 class="item-title">
                                        Corporate Brochure
                                    </h4><!-- /.item-title -->
                                    <span class="item-category">
                                        Agency, Business
                                        <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                    </span><!-- /.item-category -->
                                </figcaption>
                            </figure>
                        </div><!-- /.item -->

                    </div><!-- /#teamSlider -->
                </div><!-- /.owl-slider -->

            </div><!-- /.row -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#team -->

