@{
    ViewBag.Title = "Projects";
}
<!-- Page Header Section  -->
<section id="site-page-header" class="site-page-header blog-header polygon-bg">
    <div class="overlay-effects box-pattern index-1"></div>
    <div class="container">
        <div class="page-header-content display-table-middle">
            <div class="inside-content vertical-middle">
                <h1 class="page-title text-center highlighted">portfolio</h1>
                <h3 class="page-description text-center">you can take a look at some of the bests of our works here</h3>
            </div>
        </div><!--  /.page-header-content -->
        <div class="site-breadcrumb pull-right">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Portfolio</a></li>
                <li class="breadcrumb-item active">3 Columns</li>
            </ol>
        </div>
    </div><!--  /.container -->
</section><!-- /#page-header  -->
<!-- Page Header Section End -->
<!-- Works Section -->
<section id="works" class="clearfix">
    <div class="container">
        <div class="section-padding">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    Sample <span>Works</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    let’s take a look at some of the best of our works here, I love them and hope you too
                </p>
            </div><!-- /.title-container -->

            <div class="text-center tm30 bm30 portfolioFilter v2">
                <a href="#" data-filter="*" class="active btn sm-btn rbtn has-badge filter-btn">All<span class="badge">8</span> </a>
                <a href="#" data-filter=".cat-1" class=" btn sm-btn rbtn has-badge filter-btn">Web Design<span class="badge">4</span> </a>
                <a href="#" data-filter=".cat-2" class="btn sm-btn rbtn has-badge filter-btn">Font Design<span class="badge">4</span> </a>
                <a href="#" data-filter=".cat-3" class="btn sm-btn rbtn has-badge filter-btn">Photography<span class="badge">5</span> </a>
                <a href="#" data-filter=".cat-4" class="btn sm-btn rbtn has-badge filter-btn">Logo Design<span class="badge">6</span> </a>
            </div>

            <div class="portfolio-item">

                <div class="item cat-2 cat-4">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="portfolio-item border-style md-bm30 md-bm30">
                                <figure>
                                    <img src="images/portfolio/row/01.jpg" alt="project Image">
                                    <div class="item-link">
                                        <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                        <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- /.item-link -->
                                    <figcaption class="item-description">
                                        <h4 class="item-title">
                                            Corporate Brochure
                                        </h4><!-- /.item-title -->
                                        <span class="item-category">
                                            Agency, Business
                                            <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                        </span><!-- /.item-category -->
                                    </figcaption>
                                </figure>
                            </div><!-- /.portfolio-item -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.
                                    Praesearcu turpis, ornare quis nunc vel,
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Suspendisse fringilla neque eget congue vestibulum.Duis id est eu elit aliquet blandit eu vel magna accun. Wraesent sodales posuere urna non posuere ...
                                </p>
                            </div><!-- /.project-description -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Title</span> goes Here
                                </h4>
                                <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                            </div><!-- /.stripe-full -->
                            <ul class="project-meta">
                                <li>
                                    <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                    <span class="meta-name">Categories</span>
                                    <span class="meta-text pull-right">Agency, Business, Branding</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                    <span class="meta-name">Author</span>
                                    <span class="meta-text pull-right">Richard Peterson</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                    <span class="meta-name">Skills</span>
                                    <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="meta-name">Date</span>
                                    <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-users"></i></span>
                                    <span class="meta-name">Clients</span>
                                    <span class="meta-text pull-right">Envato, Themeforest</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                    <hr class="tm30 bm50">
                </div><!-- /.item -->

                <div class="item cat-3 cat-4 cat-1">
                    <div class="row">

                        <div class="col-md-4 pull-right md-no-pull">
                            <div class="portfolio-item border-style md-bm30">
                                <figure>
                                    <img src="images/portfolio/row/02.jpg" alt="project Image">
                                    <div class="item-link">
                                        <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                        <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- /.item-link -->
                                    <figcaption class="item-description">
                                        <h4 class="item-title">
                                            Corporate Brochure
                                        </h4><!-- /.item-title -->
                                        <span class="item-category">
                                            Agency, Business
                                            <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                        </span><!-- /.item-category -->
                                    </figcaption>
                                </figure>
                            </div><!-- /.portfolio-item -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.
                                    Praesearcu turpis, ornare quis nunc vel,
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Suspendisse fringilla neque eget congue vestibulum.Duis id est eu elit aliquet blandit eu vel magna accun. Wraesent sodales posuere urna non posuere ...
                                </p>
                            </div><!-- /.project-description -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Title</span> goes Here
                                </h4>
                                <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                            </div><!-- /.stripe-full -->
                            <ul class="project-meta">
                                <li>
                                    <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                    <span class="meta-name">Categories</span>
                                    <span class="meta-text pull-right">Agency, Business, Branding</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                    <span class="meta-name">Author</span>
                                    <span class="meta-text pull-right">Richard Peterson</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                    <span class="meta-name">Skills</span>
                                    <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="meta-name">Date</span>
                                    <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-users"></i></span>
                                    <span class="meta-name">Clients</span>
                                    <span class="meta-text pull-right">Envato, Themeforest</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                    <hr class="tm30 bm50">
                </div><!-- /.item -->

                <div class="item cat-2 cat-4">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="portfolio-item border-style md-bm30">
                                <figure>
                                    <img src="images/portfolio/row/03.jpg" alt="project Image">
                                    <div class="item-link">
                                        <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                        <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- /.item-link -->
                                    <figcaption class="item-description">
                                        <h4 class="item-title">
                                            Corporate Brochure
                                        </h4><!-- /.item-title -->
                                        <span class="item-category">
                                            Agency, Business
                                            <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                        </span><!-- /.item-category -->
                                    </figcaption>
                                </figure>
                            </div><!-- /.portfolio-item -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.
                                    Praesearcu turpis, ornare quis nunc vel,
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Suspendisse fringilla neque eget congue vestibulum.Duis id est eu elit aliquet blandit eu vel magna accun. Wraesent sodales posuere urna non posuere ...
                                </p>
                            </div><!-- /.project-description -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Title</span> goes Here
                                </h4>
                                <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                            </div><!-- /.stripe-full -->
                            <ul class="project-meta">
                                <li>
                                    <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                    <span class="meta-name">Categories</span>
                                    <span class="meta-text pull-right">Agency, Business, Branding</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                    <span class="meta-name">Author</span>
                                    <span class="meta-text pull-right">Richard Peterson</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                    <span class="meta-name">Skills</span>
                                    <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="meta-name">Date</span>
                                    <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-users"></i></span>
                                    <span class="meta-name">Clients</span>
                                    <span class="meta-text pull-right">Envato, Themeforest</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                    <hr class="tm30 bm50">
                </div><!-- /.item -->

                <div class="item cat-3 cat-4 cat-1">
                    <div class="row">

                        <div class="col-md-4 pull-right md-no-pull">
                            <div class="portfolio-item border-style md-bm30">
                                <figure>
                                    <img src="images/portfolio/row/04.jpg" alt="project Image">
                                    <div class="item-link">
                                        <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                        <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- /.item-link -->
                                    <figcaption class="item-description">
                                        <h4 class="item-title">
                                            Corporate Brochure
                                        </h4><!-- /.item-title -->
                                        <span class="item-category">
                                            Agency, Business
                                            <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                        </span><!-- /.item-category -->
                                    </figcaption>
                                </figure>
                            </div><!-- /.portfolio-item -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.
                                    Praesearcu turpis, ornare quis nunc vel,
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Suspendisse fringilla neque eget congue vestibulum.Duis id est eu elit aliquet blandit eu vel magna accun. Wraesent sodales posuere urna non posuere ...
                                </p>
                            </div><!-- /.project-description -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Title</span> goes Here
                                </h4>
                                <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                            </div><!-- /.stripe-full -->
                            <ul class="project-meta">
                                <li>
                                    <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                    <span class="meta-name">Categories</span>
                                    <span class="meta-text pull-right">Agency, Business, Branding</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                    <span class="meta-name">Author</span>
                                    <span class="meta-text pull-right">Richard Peterson</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                    <span class="meta-name">Skills</span>
                                    <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="meta-name">Date</span>
                                    <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-users"></i></span>
                                    <span class="meta-name">Clients</span>
                                    <span class="meta-text pull-right">Envato, Themeforest</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                    <hr class="tm30 bm50">
                </div><!-- /.item -->

                <div class="item cat-3 cat-2">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="portfolio-item border-style md-bm30">
                                <figure>
                                    <img src="images/portfolio/row/01.jpg" alt="project Image">
                                    <div class="item-link">
                                        <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                        <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- /.item-link -->
                                    <figcaption class="item-description">
                                        <h4 class="item-title">
                                            Corporate Brochure
                                        </h4><!-- /.item-title -->
                                        <span class="item-category">
                                            Agency, Business
                                            <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                        </span><!-- /.item-category -->
                                    </figcaption>
                                </figure>
                            </div><!-- /.portfolio-item -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.
                                    Praesearcu turpis, ornare quis nunc vel,
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Suspendisse fringilla neque eget congue vestibulum.Duis id est eu elit aliquet blandit eu vel magna accun. Wraesent sodales posuere urna non posuere ...
                                </p>
                            </div><!-- /.project-description -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Title</span> goes Here
                                </h4>
                                <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                            </div><!-- /.stripe-full -->
                            <ul class="project-meta">
                                <li>
                                    <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                    <span class="meta-name">Categories</span>
                                    <span class="meta-text pull-right">Agency, Business, Branding</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                    <span class="meta-name">Author</span>
                                    <span class="meta-text pull-right">Richard Peterson</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                    <span class="meta-name">Skills</span>
                                    <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="meta-name">Date</span>
                                    <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-users"></i></span>
                                    <span class="meta-name">Clients</span>
                                    <span class="meta-text pull-right">Envato, Themeforest</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                    <hr class="tm30 bm50">
                </div><!-- /.item -->

                <div class="item cat-1 cat-4">
                    <div class="row">

                        <div class="col-md-4 pull-right md-no-pull">
                            <div class="portfolio-item border-style md-bm30">
                                <figure>
                                    <img src="images/portfolio/row/03.jpg" alt="project Image">
                                    <div class="item-link">
                                        <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                        <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- /.item-link -->
                                    <figcaption class="item-description">
                                        <h4 class="item-title">
                                            Corporate Brochure
                                        </h4><!-- /.item-title -->
                                        <span class="item-category">
                                            Agency, Business
                                            <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                        </span><!-- /.item-category -->
                                    </figcaption>
                                </figure>
                            </div><!-- /.portfolio-item -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.
                                    Praesearcu turpis, ornare quis nunc vel,
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Suspendisse fringilla neque eget congue vestibulum.Duis id est eu elit aliquet blandit eu vel magna accun. Wraesent sodales posuere urna non posuere ...
                                </p>
                            </div><!-- /.project-description -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Title</span> goes Here
                                </h4>
                                <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                            </div><!-- /.stripe-full -->
                            <ul class="project-meta">
                                <li>
                                    <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                    <span class="meta-name">Categories</span>
                                    <span class="meta-text pull-right">Agency, Business, Branding</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                    <span class="meta-name">Author</span>
                                    <span class="meta-text pull-right">Richard Peterson</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                    <span class="meta-name">Skills</span>
                                    <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="meta-name">Date</span>
                                    <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-users"></i></span>
                                    <span class="meta-name">Clients</span>
                                    <span class="meta-text pull-right">Envato, Themeforest</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                    <hr class="tm30 bm50">
                </div><!-- /.item -->

                <div class="item cat-3 cat-1">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="portfolio-item border-style md-bm30">
                                <figure>
                                    <img src="images/portfolio/row/02.jpg" alt="project Image">
                                    <div class="item-link">
                                        <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                        <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- /.item-link -->
                                    <figcaption class="item-description">
                                        <h4 class="item-title">
                                            Corporate Brochure
                                        </h4><!-- /.item-title -->
                                        <span class="item-category">
                                            Agency, Business
                                            <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                        </span><!-- /.item-category -->
                                    </figcaption>
                                </figure>
                            </div><!-- /.portfolio-item -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.
                                    Praesearcu turpis, ornare quis nunc vel,
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Suspendisse fringilla neque eget congue vestibulum.Duis id est eu elit aliquet blandit eu vel magna accun. Wraesent sodales posuere urna non posuere ...
                                </p>
                            </div><!-- /.project-description -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Title</span> goes Here
                                </h4>
                                <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                            </div><!-- /.stripe-full -->
                            <ul class="project-meta">
                                <li>
                                    <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                    <span class="meta-name">Categories</span>
                                    <span class="meta-text pull-right">Agency, Business, Branding</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                    <span class="meta-name">Author</span>
                                    <span class="meta-text pull-right">Richard Peterson</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                    <span class="meta-name">Skills</span>
                                    <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="meta-name">Date</span>
                                    <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-users"></i></span>
                                    <span class="meta-name">Clients</span>
                                    <span class="meta-text pull-right">Envato, Themeforest</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                    <hr class="tm30 bm50">
                </div><!-- /.item -->

                <div class="item cat-3 cat-4 cat-2">
                    <div class="row">

                        <div class="col-md-4 pull-right md-no-pull">
                            <div class="portfolio-item border-style md-bm30">
                                <figure>
                                    <img src="images/portfolio/row/03.jpg" alt="project Image">
                                    <div class="item-link">
                                        <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                        <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- /.item-link -->
                                    <figcaption class="item-description">
                                        <h4 class="item-title">
                                            Corporate Brochure
                                        </h4><!-- /.item-title -->
                                        <span class="item-category">
                                            Agency, Business
                                            <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                        </span><!-- /.item-category -->
                                    </figcaption>
                                </figure>
                            </div><!-- /.portfolio-item -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.
                                    Praesearcu turpis, ornare quis nunc vel,
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Suspendisse fringilla neque eget congue vestibulum.Duis id est eu elit aliquet blandit eu vel magna accun. Wraesent sodales posuere urna non posuere ...
                                </p>
                            </div><!-- /.project-description -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Title</span> goes Here
                                </h4>
                                <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                            </div><!-- /.stripe-full -->
                            <ul class="project-meta">
                                <li>
                                    <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                    <span class="meta-name">Categories</span>
                                    <span class="meta-text pull-right">Agency, Business, Branding</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                    <span class="meta-name">Author</span>
                                    <span class="meta-text pull-right">Richard Peterson</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                    <span class="meta-name">Skills</span>
                                    <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="meta-name">Date</span>
                                    <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-users"></i></span>
                                    <span class="meta-name">Clients</span>
                                    <span class="meta-text pull-right">Envato, Themeforest</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                    <hr class="tm30 bm50">
                </div><!-- /.item -->

                <div class="item cat-3 cat-4 cat-2">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="portfolio-item border-style md-bm30">
                                <figure>
                                    <img src="images/portfolio/row/04.jpg" alt="project Image">
                                    <div class="item-link">
                                        <a class="project-link" href="#"><i class="fa fa-link"></i></a>
                                        <a class="zoom-link boxer" href="images/lightbox/01.jpg" title="Portfolio Image Title"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- /.item-link -->
                                    <figcaption class="item-description">
                                        <h4 class="item-title">
                                            Corporate Brochure
                                        </h4><!-- /.item-title -->
                                        <span class="item-category">
                                            Agency, Business
                                            <span class="numbers"> 138 <i class="fa fa-heart"></i> </span>
                                        </span><!-- /.item-category -->
                                    </figcaption>
                                </figure>
                            </div><!-- /.portfolio-item -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Description</span>
                                </h4>
                            </div><!-- /.stripe-full -->

                            <div class="post-container project-description">
                                <p>
                                    <span class="dropcap">D</span> Proin in magna a ipsum viverra scelerisque eu
                                    nec turpis. Nunc vestibulum fringilla accumsan.
                                    Praesearcu turpis, ornare quis nunc vel,
                                </p>
                                <p>
                                    adipiscing porttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc. sollicitudin in aliquam ligula quis.nibh venenatis sollicitudin.
                                </p>
                                <p>
                                    Suspendisse fringilla neque eget congue vestibulum.Duis id est eu elit aliquet blandit eu vel magna accun. Wraesent sodales posuere urna non posuere ...
                                </p>
                            </div><!-- /.project-description -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="stripe-full bm50">
                                <h4 class="stripe-over stripe-blue tm0">
                                    Project <span>Title</span> goes Here
                                </h4>
                                <div class="project-like">138 <i class="fa fa-heart-o"></i></div>
                            </div><!-- /.stripe-full -->
                            <ul class="project-meta">
                                <li>
                                    <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                    <span class="meta-name">Categories</span>
                                    <span class="meta-text pull-right">Agency, Business, Branding</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                    <span class="meta-name">Author</span>
                                    <span class="meta-text pull-right">Richard Peterson</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                    <span class="meta-name">Skills</span>
                                    <span class="meta-text pull-right">HTML, CSS, PHP, JavaScript</span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="meta-name">Date</span>
                                    <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">14 December 2014</time></span>
                                </li>
                                <li>
                                    <span class="meta-icon"><i class="fa fa-users"></i></span>
                                    <span class="meta-name">Clients</span>
                                    <span class="meta-text pull-right">Envato, Themeforest</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn full-btn md-btn">Launch Project <i class="fa fa-rocket"></i></a>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                    <hr class="tm50">
                </div><!-- /.item -->

            </div><!-- /#portfolio-item -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#works -->
<!-- Works Section End -->





<section id="clients" class="clearfix clients">
    <div class="container">
        <div class="section-padding tp0">
            <div class="title-container text-center">
                <h2 class="striped-title tm0">
                    our happy <span>clients</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    There’re lots of famous companies that we’ve worked for and of course we’ve made them so happy!
                </p>
            </div><!-- /.title-container -->


            <div class="owl-container">
                <div class="carousel-navigator text-center">
                    <button class="btn nav-btn sm-btn rbtn prev"><i class="fa fa-long-arrow-left"></i></button>
                    <button class="btn nav-btn sm-btn rbtn next"><i class="fa fa-long-arrow-right"></i></button>
                </div>
                <div id="clients-logo-carousel" class="logo-carousel owl-carousel pt50" data-pagination="false" data-screenitems="[[0, 1], [400, 2], [700, 3], [1000, 5], [1200, 6]]" data-items="6" data-autoplay="3000">
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/01.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/02.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/03.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/04.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/05.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/06.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/01.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/02.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/03.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/04.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/05.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/06.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                </div><!-- /#clients-logo-carousel -->

            </div><!-- /.owl-slider -->

        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#clients -->
