
@{
    ViewBag.Title = "RailFare";
}


<!-- Pricing Section -->
<section id="pricing" class="pricing-section">
    <div class="container">
        <div class="section-padding">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    Real Cheap <span>Prices</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    We offer all our services in real low prices in comparison with others similar companies
                </p>
            </div><!-- /.title-container -->

            <div class="pricing-container">
                <div class="row">
                    <div class="owl-container">
                        <div id="priceSlider" class="recent-post-slider owl-carousel owl-theme" data-pagination="false" data-screenitems="[[0, 1], [600, 2], [1000, 3], [1200, 4]]" data-items="4" data-autoplay="3000">

                            <div class="item col-sm-12">
                                <div class="price-item v2 text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <h5 class="stripe-over">
                                            Standard Plan
                                        </h5>
                                    </div>

                                    <div class="price-box mauto">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">99</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>Save 10% Per Year</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->


                            <div class="item col-sm-12">
                                <div class="price-item v2 text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <h5 class="stripe-over">
                                            Premium Plan
                                        </h5>
                                    </div>

                                    <div class="price-box mauto">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">199</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>Save 10% Per Year</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->


                            <div class="item col-sm-12">
                                <div class="price-item v2 text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <span class="featured left"><i class="fa fa-star"></i></span>
                                        <h5 class="stripe-over">
                                            Advanced Plan
                                        </h5>
                                        <span class="featured right"><i class="fa fa-star"></i></span>
                                    </div>

                                    <div class="price-box mauto">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">299</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>Save 10% Per Year</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->


                            <div class="item col-sm-12">
                                <div class="price-item v2 text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <h5 class="stripe-over">
                                            Ultimate Plan
                                        </h5>
                                    </div>

                                    <div class="price-box mauto">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">399</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>Save 10% Per Year</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->

                            <div class="item col-sm-12">
                                <div class="price-item v2 text-center">

                                    <div class="stripe-full stripe-1 text-center">
                                        <h5 class="stripe-over">
                                            Ultimate Plan
                                        </h5>
                                    </div>

                                    <div class="price-box mauto">
                                        <div class="inner">
                                            <span class="currency">$</span><span class="price-number">399</span>
                                            <span class="duration">Monthly</span>
                                        </div><!-- /.inner -->
                                    </div><!-- /.price-box -->

                                    <ul class="item-description">
                                        <li>Save 10% Per Year</li>
                                    </ul>

                                    <div class="sign-up-link">
                                        <a href="#" class="sign-up btn md-btn full-btn m0">Sign Up Now</a>
                                    </div><!-- /.link -->
                                </div><!-- /.price-item -->
                            </div><!-- /.item col-sm-12 -->

                        </div><!-- /#priceSlider -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.pricing-container -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#pricing -->
<!-- Pricing Section End -->

<hr>




<section id="more-service" class="bm50">
    <div class="container">
        <div class="section-padding">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    More Officer <span>Service</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    there are some secondaries as well as our main services, you can read about them below.
                </p>
            </div><!-- /.title-container -->
        </div><!-- /.section-padding -->
        <!-- Tabs version 1 Style -->
        <div class="tabs-container tv1">
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#tab1" role="tab" data-toggle="tab">Website Designing</a></li>
                <li class="active"><a href="#tab2" role="tab" data-toggle="tab">Website Development</a></li>
                <li><a href="#tab3" role="tab" data-toggle="tab">Search Engine Optimization</a></li>
                <li><a href="#tab4" role="tab" data-toggle="tab">Speed Optimization</a></li>
                <li><a href="#tab5" role="tab" data-toggle="tab">Worldwide Branding</a></li>
                <li><a href="#tab6" role="tab" data-toggle="tab">Social Media Marketing</a></li>
                <li><a href="#tab7" role="tab" data-toggle="tab">clients Support</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade" id="tab1">
                    <p>
                        <strong>Tab #1</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, cum sint voluptatibus, nulla distinctio obcaecati vitae, quam ipsa reprehenderit consequatur iure aliquid soluta inventore accusamus ea aut delectus ad fuga.
                    </p>
                </div><!-- /.tab-pane -->

                <div class="tab-pane fade in active" id="tab2">
                    <img class="tab-image pull-right" src="images/tab/tab-img.jpg" alt="tab-image">
                    <h4 class="tm0"><span>Unlimited</span> Features </h4>
                    <p>
                        Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum
                        fringilla accumsan. Praesearcu turpis, ornare quis nunc vel,
                        adipiscing porttitor lectus. Nulla sed odio lacinia dolor.
                        Fusce aliquam sapien eu nunc. sollicitudin. In aliquam ligula quis nibh
                        venenatis sollicitudin. Suspendisse fringilla neque eget congue vestibulum.
                        Duis id est eu elit aliquet blandit eu vel magna accun.
                    </p>
                    <p>
                        Wraesent sodales posuere urna non posuere.
                        Cras pharetra, enim sodales feugiat tincidunt, mauris nisl hendrerit leo,
                        vitae facilisis turpis.
                    </p>
                    <p>
                        Risus porttitor leo. Mauris venenatis tincidunt mauris,
                        ornare fermentum nulla lobortis eget. Quisque in ultrices ante.
                        Morbi fringilla augue eget gravida euismod. Suspendisse vel varius justo,
                        vitae luctus ante.
                    </p>
                </div><!-- /.tab-pane -->

                <div class="tab-pane fade" id="tab3">
                    <p>
                        <strong>Tab #3</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, cum sint voluptatibus, nulla distinctio obcaecati vitae, quam ipsa reprehenderit consequatur iure aliquid soluta inventore accusamus ea aut delectus ad fuga.
                    </p>
                </div><!-- /.tab-pane -->

                <div class="tab-pane fade" id="tab4">
                    <p>
                        <strong>Tab #4</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, cum sint voluptatibus, nulla distinctio obcaecati vitae, quam ipsa reprehenderit consequatur iure aliquid soluta inventore accusamus ea aut delectus ad fuga.
                    </p>
                </div><!-- /.tab-pane -->

                <div class="tab-pane fade" id="tab5">
                    <p>
                        <strong>Tab #5</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, cum sint voluptatibus, nulla distinctio obcaecati vitae, quam ipsa reprehenderit consequatur iure aliquid soluta inventore accusamus ea aut delectus ad fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, cum sint voluptatibus, nulla distinctio obcaecati vitae, quam ipsa reprehenderit consequatur iure aliquid soluta inventore accusamus ea aut delectus ad fuga.
                    </p>
                </div><!-- /.tab-pane -->

                <div class="tab-pane fade" id="tab6">
                    <p>
                        <strong>Tab #6</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, cum sint voluptatibus, nulla distinctio obcaecati vitae, quam ipsa reprehenderit consequatur iure aliquid soluta inventore accusamus ea aut delectus ad fuga.
                    </p>
                </div><!-- /.tab-pane -->

                <div class="tab-pane fade" id="tab7">
                    <p>
                        <strong>Tab #7</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, cum sint voluptatibus, nulla distinctio obcaecati vitae, quam ipsa reprehenderit consequatur iure aliquid soluta inventore accusamus ea aut delectus ad fuga.
                    </p>
                </div><!-- /.tab-pane -->

            </div><!-- /.tab-content -->
        </div><!-- /.tabs-container tv1 -->
        <!-- Tabs version 1 Style End -->


    </div><!-- /.container -->
</section><!-- /#more-service -->
