

<div class="section-padding text-center">
    <h1 class="tm0">Different <em>ideas</em> & <em>Visions</em> Result completely <span>outstanding</span> works </h1>
    <p class="section-description">
        We’re Trying Our Bests to Deliver Our Customers real high quality products with unlimited features
    </p>
    <div class="btn-container">
        <a href="#" class="btn md-btn">
            Contact Us Now <i class="fa fa-envelope"></i>
        </a>

        <a href="~/images/ProjectImages/GrindBackOfHouse/graphic1.jpg" class="btn md-btn">
            Purchase it Now  <i class="fa fa-shopping-cart"></i>
        </a>
    </div>
</div>


<hr>



<!-- Features Section -->
<section class="features  section-padding">
    <div class="container">
        <div class="title-container text-center">
            <h2 class="striped-title">
                Our Core <span> Services </span>
                <span class="stripe-t-left"></span>
                <span class="stripe-t-back"></span>
                <span class="stripe-t-right"></span>
            </h2>
            <p class="section-description">
                we offer our customers the best services & solutions, this is our main services list
            </p>
        </div><!-- /.title-container -->

        <div class="row">

            <div class="col-md-3 col-sm-6 text-center">
                <div class="item-container v2">
                    <div class="icon mauto">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <h5 class="feature-title">Fully Responsive Layout</h5>
                    <p class="stripe-bfixw sub-title">Desktops, Tables & Phones</p>
                    <p>
                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                    </p>
                </div><!-- /.item-container -->
            </div><!-- /.col-md-3 -->


            <div class="col-md-3 col-sm-6 text-center">
                <div class="item-container v2">
                    <div class="icon mauto">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <h5 class="feature-title">Multipurpose Theme</h5>
                    <p class="stripe-bfixw sub-title">Agency, Portfolio & ...</p>
                    <p>
                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                    </p>
                </div><!-- /.item-container -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6 text-center">
                <div class="item-container v2">
                    <div class="icon mauto">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <h5 class="feature-title">Easy to Use & Customize</h5>
                    <p class="stripe-bfixw sub-title">One Click Demo Content Installation</p>
                    <p>
                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                    </p>
                </div><!-- /.item-container -->
            </div><!-- /.col-md-3 -->


            <div class="col-md-3 col-sm-6 text-center">
                <div class="item-container v2">
                    <div class="icon mauto">
                        <i class="fa fa-support"></i>
                    </div>
                    <h5 class="feature-title">Awesome Friendly Support</h5>
                    <p class="stripe-bfixw sub-title">free Lifetime Support & Updates</p>
                    <p>
                        Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla aliquam tortor pellentesque accumsan.
                    </p>
                </div><!-- /.item-container -->
            </div><!-- /.col-md-3 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.features -->
<!-- Features Section End -->




