@{
    ViewBag.Title = "WhatWeDo";
}


@*@Html.Partial("~/Views/Home/WhatWeDo.cshtml")*@

@*<!-- About Section -->
<section id="about-us" class="about-page section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="about-description">
                    <h3 class="about-title bm30"><span>company</span> introduction</h3>
                    <p>
                        <span class="dropcap">D</span>Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum
                        fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing
                        worttitor lectus. Nulla sed odio lacinia dolor. Fusce aliquam sapien eu nunc.
                    </p>

                    <p>
                        sollicitudin. In aliquam ligula quis nibh venenatis sollicitudin. Suspendisse fringilla neque eget congue vestibulum. Duis id est eu elit aliquet blandit eu vel magna accun.Nullam et odio ullamcorper, adipiscing orci vitae, ornare justo. Quisque vulputate varius tortor. Pellentesque ultricies sapien ac nulla viverra pretium.
                    </p>

                </div><!-- /.about-description -->

                <div class="title-container tm30 md-bm30 clearfix">
                    <h4 class="striped-title no-border-ab for-widget pull-left">
                        <span>share</span> with your friends
                        <span class="stripe-t-right"></span>
                    </h4>

                    <div class="share-box v2 black">
                        <div class="social-icons">
                            <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
                            <a href="#" class="stumbleupon-btn"><i class="fa fa-stumbleupon"></i></a>
                        </div>
                    </div>
                </div><!-- /.title-container -->


            </div><!-- /.col-md-6 -->

            <div class="col-md-6">

                <article class="post type-post">
                    <div class="post-thumbnail">
                        <div id="postImgSlider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#postImgSlider" data-slide-to="0" class=""></li>
                                <li data-target="#postImgSlider" data-slide-to="1" class=""></li>
                                <li data-target="#postImgSlider" data-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="images/about/slide/small/1.jpg" alt="Post Thumbnail">
                                </div>
                                <div class="item">
                                    <img src="images/about/slide/small/1.jpg" alt="Post Thumbnail">
                                </div>
                                <div class="item active">
                                    <img src="images/about/slide/small/1.jpg" alt="Post Thumbnail">
                                </div>
                            </div><!-- /.carousel-inner -->
                            <a class="slide-nav left" href="#postImgSlider" data-slide="prev"><i class="fa fa-long-arrow-left"></i></a>
                            <a class="slide-nav right" href="#postImgSlider" data-slide="next"><i class="fa fa-long-arrow-right"></i></a>
                        </div><!-- /#postImgSlider -->
                    </div>
                </article>

            </div><!-- /.col-md-6 -->

        </div><!-- /.row -->
    </div><!-- /.container -->

</section><!-- /#about  -->
<!-- About Section End -->



<hr>



<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-4 md-bm50">

                <div class="stripe-full bm50">
                    <h4 class="stripe-over stripe-blue tm0">
                        Why <span>Choose</span> Us
                    </h4>
                </div><!-- /.stripe-full -->

                <div class="progress v1">
                    <div class="progress-bar default-bar" role="progressbar" aria-valuenow="94" aria-valuemin="0" data-progress-value="94%" aria-valuemax="100">
                        <span>Web Designing - 94%</span>
                    </div>
                </div><!-- /.progress -->

                <div class="progress v1">
                    <div class="progress-bar default-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0" data-progress-value="88%" aria-valuemax="100">
                        <span>Web Development - 88%</span>
                    </div>
                </div><!-- /.progress -->

                <div class="progress v1">
                    <div class="progress-bar default-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" data-progress-value="50%" aria-valuemax="100">
                        <span>Seo / Speed - 50%</span>
                    </div>
                </div><!-- /.progress -->

                <div class="progress v1">
                    <div class="progress-bar default-bar" role="progressbar" aria-valuenow="79" aria-valuemin="0" data-progress-value="79%" aria-valuemax="100">
                        <span>Support - 79%</span>
                    </div>
                </div><!-- /.progress -->

                <div class="progress v1">
                    <div class="progress-bar default-bar" role="progressbar" aria-valuenow="67" aria-valuemin="0" data-progress-value="67%" aria-valuemax="100">
                        <span>Marketing - 67%</span>
                    </div>
                </div><!-- /.progress -->

                <div class="progress v1">
                    <div class="progress-bar default-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" data-progress-value="90%" aria-valuemax="100">
                        <span>Advertising - 90%</span>
                    </div>
                </div><!-- /.progress -->

            </div><!-- /.col-md-4 -->


            <div class="col-md-4 md-bm50">
                <div class="stripe-full bm50">
                    <h4 class="stripe-over stripe-blue tm0">
                        How we <span>Do</span>
                    </h4>
                </div><!-- /.stripe-full -->

                <p>
                    Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis, ornare quis nunc vel, adipiscing porttitor lectus. Nulla sed odio lacinia dolor.
                </p>

                <ul class="li-square tm30">
                    <li>Vestibulum dictum dolor sit amet risus cursus</li>
                    <li>Maecenas eros eros, tempus ac gravida ut, iaculis</li>
                    <li>Curabitur sit amet fringilla lorem</li>
                    <li>Praesent eu est elit. Nulla euismod tincidun</li>
                    <li>Nam venenatis nulla non elit ullamcorper interdum</li>
                    <li>Quisque pretium mattis nulla eget scelerisque</li>
                </ul>

            </div><!-- /.col-md-4 -->


            <div class="col-md-4">
                <div class="stripe-full bm50">
                    <h4 class="stripe-over stripe-blue tm0">
                        How we <span>Do</span>
                    </h4>
                </div><!-- /.stripe-full -->


                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="fa-desktop collapsed">
                                    Fully Responsive Layout
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis.
                            </div>
                        </div>
                    </div><!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="fa-bolt">
                                    Multipurpose Theme
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis.
                            </div>
                        </div>
                    </div><!-- /.panel -->


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="fa-wrench collapsed">
                                    Easy To Use &amp; Customize
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis.
                            </div>
                        </div>
                    </div><!-- /.panel -->


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="fa-support collapsed">
                                    Awesome Friendly Supports
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Proin in magna a ipsum viverra scelerisque eu nec turpis. Nunc vestibulum fringilla accumsan. Praesearcu turpis.
                            </div>
                        </div>
                    </div><!-- /.panel -->

                </div><!-- /.panel-group -->
            </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>



<hr>



<section id="team">
    <div class="section-padding">
        <div class="container">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    <span>Team</span> Members
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests.
                </p>
            </div><!-- /.title-container -->
            <div class="row">
                <div class="owl-container">
                    <div class="carousel-navigator text-center bm30">
                        <button class="btn nav-btn sm-btn rbtn prev tmprev"><i class="fa fa-long-arrow-left"></i></button>
                        <button class="btn nav-btn sm-btn rbtn next tmnext"><i class="fa fa-long-arrow-right"></i></button>
                    </div>


                    <div id="teamSlider" class="owl-carousel owl-theme" data-pagination="false" data-screenitems="[[0, 1], [600, 2], [1000, 3], [1200, 4]]" data-items="4" data-autoplay="3000">
                        <div class="item lrp15">
                            <div class="team-member text-center">
                                <div class="member-img-box">
                                    <img src="images/team-member/01.jpg" alt="Member Image">

                                    <div class="social-icons">
                                        <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
                                        <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="stumbleupon-btn"><i class="fa fa-stumbleupon"></i></a>
                                    </div><!-- /.social-icons -->

                                </div><!-- /.member-img-box -->
                                <div class="name-container">
                                    <h6 class="member-name text-cap">Richard Peterson</h6>
                                </div>
                                <div class="stripe-full stripe-1">
                                    <h6 class="member-designation stripe-over">CEO and Developer</h6>
                                </div>
                                <p class="member-description">
                                    Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum.
                                </p>
                                <p class="member-contact">
                                    <span class="mail-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    Mail Add:
                                    <span class="member-email">
                                        r.peterson@focuz.com
                                    </span>
                                    <br>
                                    <span class="phone-icon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    Phone No:
                                    <span class="member-phone">
                                        +1911 (77) 22-1111
                                    </span>
                                </p> <!-- /.member-contact -->

                            </div><!-- /.team-member -->
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <div class="team-member text-center">
                                <div class="member-img-box">
                                    <img src="images/team-member/02.jpg" alt="Member Image">

                                    <div class="social-icons">
                                        <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
                                        <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="stumbleupon-btn"><i class="fa fa-stumbleupon"></i></a>
                                    </div><!-- /.social-icons -->

                                </div><!-- /.member-img-box -->
                                <div class="name-container">
                                    <h6 class="member-name text-cap">Max Lennon</h6>
                                </div>
                                <div class="stripe-full stripe-1">
                                    <h6 class="member-designation stripe-over">User Interface Designer</h6>
                                </div>
                                <p class="member-description">
                                    Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum.
                                </p>
                                <p class="member-contact">
                                    <span class="mail-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    Mail Add:
                                    <span class="member-email">
                                        m.lennon@focuz.com
                                    </span>
                                    <br>
                                    <span class="phone-icon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    Phone No:
                                    <span class="member-phone">
                                        +1911 (77) 22-1111
                                    </span>
                                </p> <!-- /.member-contact -->

                            </div><!-- /.team-member -->
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <div class="team-member text-center">
                                <div class="member-img-box">
                                    <img src="images/team-member/03.jpg" alt="Member Image">

                                    <div class="social-icons">
                                        <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
                                        <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="stumbleupon-btn"><i class="fa fa-stumbleupon"></i></a>
                                    </div><!-- /.social-icons -->

                                </div><!-- /.member-img-box -->
                                <div class="name-container">
                                    <h6 class="member-name text-cap">Francehesco Piener</h6>
                                </div>
                                <div class="stripe-full stripe-1">
                                    <h6 class="member-designation stripe-over">Marketing Manager</h6>
                                </div>
                                <p class="member-description">
                                    Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum.
                                </p>
                                <p class="member-contact">
                                    <span class="mail-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    Mail Add:
                                    <span class="member-email">
                                        f.piener@focuz.com
                                    </span>
                                    <br>
                                    <span class="phone-icon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    Phone No:
                                    <span class="member-phone">
                                        +1911 (77) 22-1111
                                    </span>
                                </p> <!-- /.member-contact -->

                            </div><!-- /.team-member -->
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <div class="team-member text-center">
                                <div class="member-img-box">
                                    <img src="images/team-member/04.jpg" alt="Member Image">

                                    <div class="social-icons">
                                        <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
                                        <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="stumbleupon-btn"><i class="fa fa-stumbleupon"></i></a>
                                    </div><!-- /.social-icons -->

                                </div><!-- /.member-img-box -->
                                <div class="name-container">
                                    <h6 class="member-name text-cap">Caroline Colins</h6>
                                </div>
                                <div class="stripe-full stripe-1">
                                    <h6 class="member-designation stripe-over">IT Specialist</h6>
                                </div>
                                <p class="member-description">
                                    Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum.
                                </p>
                                <p class="member-contact">
                                    <span class="mail-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    Mail Add:
                                    <span class="member-email">
                                        c.colins@focuz.com
                                    </span>
                                    <br>
                                    <span class="phone-icon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    Phone No:
                                    <span class="member-phone">
                                        +1911 (77) 22-1111
                                    </span>
                                </p> <!-- /.member-contact -->

                            </div><!-- /.team-member -->
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <div class="team-member text-center">
                                <div class="member-img-box">
                                    <img src="images/team-member/05.jpg" alt="Member Image">

                                    <div class="social-icons">
                                        <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
                                        <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="stumbleupon-btn"><i class="fa fa-stumbleupon"></i></a>
                                    </div><!-- /.social-icons -->

                                </div><!-- /.member-img-box -->
                                <div class="name-container">
                                    <h6 class="member-name text-cap">Francehesco Piener</h6>
                                </div>
                                <div class="stripe-full stripe-1">
                                    <h6 class="member-designation stripe-over">Marketing Manager</h6>
                                </div>
                                <p class="member-description">
                                    Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum.
                                </p>
                                <p class="member-contact">
                                    <span class="mail-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    Mail Add:
                                    <span class="member-email">
                                        f.piener@focuz.com
                                    </span>
                                    <br>
                                    <span class="phone-icon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    Phone No:
                                    <span class="member-phone">
                                        +1911 (77) 22-1111
                                    </span>
                                </p> <!-- /.member-contact -->

                            </div><!-- /.team-member -->
                        </div><!-- /.item -->

                        <div class="item lrp15">
                            <div class="team-member text-center">
                                <div class="member-img-box">
                                    <img src="images/team-member/06.jpg" alt="Member Image">

                                    <div class="social-icons">
                                        <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
                                        <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="stumbleupon-btn"><i class="fa fa-stumbleupon"></i></a>
                                    </div><!-- /.social-icons -->

                                </div><!-- /.member-img-box -->
                                <div class="name-container">
                                    <h6 class="member-name text-cap">Caroline Colins</h6>
                                </div>
                                <div class="stripe-full stripe-1">
                                    <h6 class="member-designation stripe-over">IT Specialist</h6>
                                </div>
                                <p class="member-description">
                                    Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum.
                                </p>
                                <p class="member-contact">
                                    <span class="mail-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    Mail Add:
                                    <span class="member-email">
                                        c.colins@focuz.com
                                    </span>
                                    <br>
                                    <span class="phone-icon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    Phone No:
                                    <span class="member-phone">
                                        +1911 (77) 22-1111
                                    </span>
                                </p> <!-- /.member-contact -->

                            </div><!-- /.team-member -->
                        </div><!-- /.item -->

                    </div><!-- /#teamSlider -->
                </div><!-- /.owl-slider -->

            </div><!-- /.row -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#team -->
<!-- Skill Circles -->
<section id="skills-area" class="skills-area striped-section">
    <div class="striped-icon">
        <i class="fa fa-photo"></i>
    </div>
    <div class="polygon-bg parallax-bg">
        <div class="box-pattern overlay section-padding">
            <div class="container">
                <div class="title-container text-center">
                    <h2 class="striped-title">
                        Powerful <span>Skills</span>
                        <span class="stripe-t-left"></span>
                        <span class="stripe-t-back"></span>
                        <span class="stripe-t-right"></span>
                    </h2>
                    <p class="section-description">
                        we’re selling the best &amp; high quality products in our shop, we’re also offering money back guarantee!
                    </p>
                </div>

                <div class="circle-skill-items margin-minus-15">
                    <div id="circle-skill-web_design" class="circliful-skill-item skill-item" data-dimension="175" data-width="5" data-percent="75" data-fgcolor="#00a1cb" data-bgcolor="#ebebeb" data-type="angle">
                        <div class="skill-percent">75</div>
                        <div class="skill-name">Web Design</div>
                    </div><!--  /.skill-item -->

                    <div id="circle-skill-web_development" class="circliful-skill-item skill-item" data-dimension="175" data-width="5" data-percent="92" data-fgcolor="#00a1cb" data-bgcolor="#ebebeb" data-type="angle">
                        <div class="skill-percent">92</div>
                        <div class="skill-name">Web Development</div>
                    </div><!--  /.skill-item -->

                    <div id="circle-skill-speed_optimization" class="circliful-skill-item skill-item" data-dimension="175" data-width="5" data-percent="68" data-fgcolor="#00a1cb" data-bgcolor="#ebebeb" data-type="angle">
                        <div class="skill-percent">68</div>
                        <div class="skill-name">Speed Optimization</div>
                    </div><!--  /.skill-item -->

                    <div id="circle-skill-customer_support" class="circliful-skill-item skill-item" data-dimension="175" data-width="5" data-percent="100" data-fgcolor="#00a1cb" data-bgcolor="#ebebeb" data-type="angle">
                        <div class="skill-percent">100</div>
                        <div class="skill-name">Customer Support</div>
                    </div><!--  /.skill-item -->

                    <div id="circle-skill-marketing" class="circliful-skill-item skill-item" data-dimension="175" data-width="5" data-percent="83" data-fgcolor="#00a1cb" data-bgcolor="#ebebeb" data-type="angle">
                        <div class="skill-percent">83</div>
                        <div class="skill-name">Marketing</div>
                    </div><!--  /.skill-item -->

                    <div id="circle-skill-advertisement" class="circliful-skill-item skill-item" data-dimension="175" data-width="5" data-percent="83" data-fgcolor="#00a1cb" data-bgcolor="#ebebeb" data-type="angle">
                        <div class="skill-percent">50</div>
                        <div class="skill-name">Advertisement</div>
                    </div><!--  /.skill-item -->

                </div><!--  /.circle.skill-items -->

            </div><!--  /.container -->
        </div><!-- /.overlay -->
    </div><!-- /.polygon-bg -->
</section><!-- /#skills-area  -->
<!-- End Skill Circles -->




<section id="clients" class="clearfix clients">
    <div class="container">
        <div class="section-padding">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    <span>Awesome</span> Clients
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    There’re lots of famous companies that we’ve worked for and of course we’ve made them so happy!
                </p>
            </div><!-- /.title-container -->


            <div class="owl-container">
                <div class="carousel-navigator text-center">
                    <button class="btn nav-btn sm-btn rbtn prev"><i class="fa fa-long-arrow-left"></i></button>
                    <button class="btn nav-btn sm-btn rbtn next"><i class="fa fa-long-arrow-right"></i></button>
                </div>
                <div id="clients-logo-carousel" class="logo-carousel owl-carousel pt50" data-pagination="false" data-screenitems="[[0, 1], [400, 2], [700, 3], [1000, 5], [1200, 6]]" data-items="6" data-autoplay="3000">
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/01.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/02.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/03.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/04.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/05.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/06.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/01.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/02.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/03.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/04.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/05.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <a href="?itemlink">
                                <img src="images/brands/06.png" alt="Lazy Owl Image">
                            </a>
                        </div>
                    </div>
                </div><!-- /#clients-logo-carousel -->

            </div><!-- /.owl-slider -->

        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#clients -->
<!-- Footer Section  -->
<div class="site-footer">

    <!-- Callout Action -->
    <section id="action-section" class="callout-action">
        <div class="callout-action-area polygon-bg relative">
            <div class="overlay-effects box-pattern"></div>
            <div class="container">
                <div class="callout-content relative section-padding bp0 clearfix">
                    <div class="col-md-8">
                        <div class="row">
                            <h2>Are You Satisfied With The High Quality &amp; Unlimited Features ?</h2>
                            <div class="action-links">
                                <a href="#">Contact Us <i class="fa fa-envelope"></i> </a>
                                <span class="or">or</span>
                                <a href="#"> Purchase Focuz Now <i class="fa fa-shopping-cart"></i></a>
                            </div><!--  /.action-buttons -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <img class="callout-background pull-right" src="images/footer/about-us.png" alt="Footer Image">
                        </div>
                    </div>
                </div><!--  /.callout-content -->
            </div><!--  /.container -->
        </div><!--  /.callout-action-area -->
    </section>
    <!-- End Callout Action -->*@
